[2021-10-13 14:10] egil commented on #511
@SteveSandersonMS / @captainsafia: If you can think of a way for bUnit to run native dll's, I'd love to know.

As far as I can tell from the [blog post announcing the feature](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-rc-2/#native-dependencies-support-for-blazor-webassembly-apps), this is only works with Blazor WASM, and since bUnit works much more like Blazor Server from

[2021-10-13 22:20] thalaeg opened #512 "Can't Find Elements in ChildContent"
**Finding elements in ChildComponents**

When trying to find elements in `AddChildContent` the system will error (first test example). You have to instead look directly in the `cut` (second test example)

Say you had a parent element (`HeadlessDisclosure`) that is a `div` and cascades itself to a child (`HeadlessDisclosureButton`) which is a `button`. I want to grab the `button` element with the `

[2021-10-14 15:19] egil commented on #512
@thalaeg I think the problem is that you are using the `<template>` element. Content inside a template element is not added to the document object model (more about the tag here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template), and can thus not be found using `Find` or `FindAll`, both of which are shorthands for `QuerySelector` and `QuerySelectorAll` respectively, so that is wh

[2021-10-14 15:40] thalaeg commented on #512
Hi @egil. I was having some problems with .NET 6 rc1 so I had to upgrade to rc2 this morning to fix that issue. Sorry for the delay.

Yes, I mistyped in my initial issue.

I was expecting
[code]

The problem does relate to `template`. I just created this basic repo to replicate the issue if you want to check it out further. https://github.com/thalaeg/Bunit_Issue512

I may be using it incorrectly!

[2021-10-15 18:57] thalaeg opened #516 ".NET 6 RC2 seems to have changed some underlying JS Libraries"
### Problem:
RC2 must have changed the [Virtualization](https://docs.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-6.0) component cause now it errors in Tests asking for the setup of a JS module _(example repo showing issue below)._

### Bunit error message

When I try to `JSInterop.SetupVoid("Blazor._internal.Virtualize.init", _ => true);` my test still doesn't

[2021-10-15 20:55] egil commented on #516
@thalaeg thanks for reporting this.

I have pushed an update yesterday to GPR that has a fix for this. Here is a guide to get the preview version of bUnit: https://github.com/bUnit-dev/bUnit/discussions/209

I'll push a preview version of bunit to nuget.org now, it should be there in 30 minutes or so.

[2021-10-16 09:04] David-Moreira opened #517 "There is no event handler with ID '' associated with the 'onclick' event in the current render tree"
Hello @egil ,
Hope you are doing well... :)

**Describe the bug**
Over on Blazorise we were updating BUnit's version and I started getting 3 breaking Bunit tests, but only from version 1.2.49.
Apparently, and according to Bunit's error, event handlers for our datagrid's buttons aren't being bound.

If we revert to previous versions, the tests pass.

Would appreciate if you could take a look at the

[2021-10-16 09:16] egil commented on #517
There was a bug in previous versions of bUnit that would in some cases not surface exceptions from the Blazor renderer such as the one you are seeing here.

That error message might happen if the event handler is no longer associated with the component in the Blazor renderer, e.g. if the component has been disposed.

[2021-10-16 10:00] egil commented on #517
Took a quick look. Cannot figure out where the `DataGridComponent` actually is in the code. However, I did add loggin to the test class and that allows you to capture debug log messages from the TestRenderer (Blazors renderer), and that does seem to indicate that a whole bunch of components gets disposed.

Here is the details:

<details>
<summary>Log output from New_Should_AddNewItem</summary>

[c

[2021-10-16 10:20] egil commented on #517
Ps. This is how i captured the logs: https://bunit.dev/docs/misc-test-tips.html#capturing-logs-from-ilogger-in-test-output

[2021-10-16 12:25] thalaeg commented on #516
Awesome. Glad to hear there is a solution in the works! I will do that tomorrow and report back. Appreciate you responding so quickly.

[2021-10-16 13:58] David-Moreira commented on #517
Hello egil,
Thanks for the prompt response.
Thing is, is that it actually triggers the event in the previous versions. Otherwise the test would not pass as it is dependant on the event being triggered.

I'll try taking a look at the logging, anything in concrete I should be looking out for?

`DataGridComponent` should be in the BasicTestApp.Client project, which basically just has our `DataGrid` c

[2021-10-16 14:25] egil commented on #516
Great. I'll close this issue then.

[2021-10-16 14:25] #516 closed

[2021-10-16 14:54] David-Moreira commented on #517
Ok so this bugfix might actually be what's causing it, you're right. Now, is this exception actually correct? What is BUnit trying to do?
What I just found out is that, it actually triggers the Datagrid event... but after some re-rendering it suddently goes like, hey, I don't know this event... like if it was trying to something else? or lost state?

**Is the print below expected:**
![DG](https://

[2021-10-16 18:03] egil commented on #517
I think I will try to add even more information to the exception, like the name of event being raised, and if possible, the stack trace to the source.

[2021-10-16 21:17] David-Moreira commented on #517
That makes sense, it might actually be it, I'll need to do some debugging, I'll let you know once I have more info.

[2021-10-17 09:59] egil commented on #517
bUnit has had bubbling of events since the betas, but the recent fix that is there to surface exceptions from event handlers are now.

I think I'll do the following:

1. If the root event handler throws or had been disposed, then the exception will get thrown to the user.

2. If bubbled event handlers throw, then those exception are  passed to the user. If the bubbled events handlers have been dis

[2021-10-17 14:59] egil commented on #517
I try to set up the scenario but was unable to reproduce something where the event handler of a parent component or element was not invoked. Might have to ping the blazor team to make sure.

[2021-10-17 16:33] David-Moreira commented on #517
Okay I will try as soon as I have time.
Thanks for taking the time to look into this. I'll let you know once I have news.

[2021-10-17 17:42] egil opened #518 "Ensure DOM event handlers are triggered like Blazor does it"
bUnit currently triggers DOM event handlers like this:

- For bubbling events, e.g. `@onclick` events, it starts with the trigger element and invokes the Blazor event handler (if present), and then walking up the DOM tree and finding all parent elements with a Blazor event handler attached matching the triggered event type, and triggers those as they are found. If a "stop event propagation" or dis

[2021-10-19 10:59] anddrzejb opened #521 "Include test name that is causing Bunit.JSRuntimeUnhandledInvocationException"
**Is the feature request related to a problem? Please elaborate.**
I develop in Visual Studio. I often am in a situation that my local tests are passing, but in github actions I get an exception like this:
[code]
My problem is that I have no clue which test actually has this issue.

**The suggested solution**
Is it possible to add to the message the offending test name?

[2021-10-19 18:57] anddrzejb opened #522 "ElementReference.FocusAsync(true) does not seem to be registered"
**Describe the bug**
When calling `await element.FocusAsync(true)`, it seems that `bUnit` does not register it. When event is called, code never resumes. Currently the only workaround is to register the event manually like this:
[code]

**Version info:**

 - bUnit version: 1.2.49
 - .NET Runtime and Blazor version: net 6 rc1
 - OS type and version: windows 10

[2021-10-20 09:37] egil commented on #521
Also, I am not sure I can provide more context in the stack trace in this scenario, where the invocation happens on a different thread than the test thread. In your case, the call is coming, perhaps after a `Task.Delay` or similar, from `AntDesign.AntComponentBase.JsInvokeAsync` and ends up causing an exception to be thrown here: https://github.com/bUnit-dev/bUnit/blob/main/src/bunit.web/JSInterop

[2021-10-20 09:52] #521 closed, assigned to nobody

[2021-10-20 11:33] egil commented on #518
Another reason to follow the plan mentioned above is that this will restore the functionality of from before the 1.2.49 release which effectively swallowed all exceptions in most cases. So this is the path of "least surprise" for the users.

[2021-10-20 12:31] #522 closed, assigned to anddrzejb

[2021-10-20 16:35] #518 closed, assigned to egil

[2021-10-20 16:35] #517 closed

[2021-10-20 16:44] #116 closed

[2021-10-20 17:02] egil commented on #517
@David-Moreira thanks for the help with this. If you can try out the preview release coming to NuGet soon, that would be great (1.3.35-preview).

[2021-10-20 21:04] David-Moreira commented on #517
Yep, working great. Removed try / catch logic.

[2021-10-22 11:08] egil opened #526 "Improvements to Stub<T>"
Improvements to `Stub<T>`:

- [ ] Make it easy to invoke event callbacks passed to the stub
- [ ] Make it easy to render a render fragment or template passed to a stub
- [x] Make it possible to use parameter data in custom markup render fragments.
- [x] Add documentation about `Stub<T>`

[2021-10-22 21:13] drma-tech opened #527 "Cannot provide a value for property 'RteJsInterop' on type 'Blazorise.RichTextEdit.RichTextEdit'. There is no registered service of type 'Blazorise.RichTextEdit.RichTextEditJsInterop'"
[code]
I know for some third party components I have to do this above strategy to work.

[https://github.com/Megabit/Blazorise/blob/5fa938f2ace5bbfbe7a73f0fdde3217e57f71d70/docs/_docs/extensions/richtextedit.md](https://github.com/Megabit/Blazorise/blob/5fa938f2ace5bbfbe7a73f0fdde3217e57f71d70/docs/_docs/extensions/richtextedit.md)
I am using this and for some reason this error is occurring. I don

[2021-10-22 22:49] drma-tech opened #528 "detect an EventCallback"
I have the following situation
[code]
[code]
[code]
and the following test
[code]
I know I can have any attribute and fill it with a value and test it, but if I don't want to go that way.
is there a way to test if an event has fired? in this case Update event.

[2021-10-23 13:49] ghost opened #529 "Throws System.InvalidOperationException when doing Change method"
**Describe the bug**

It is entirely possible I don't understand.  But, I think this should work?  Is there something else I need to do?  I have created a small sample project that shows the issue.

**Example:**
Please see sample project.
1) Run the one test in the test project.  It will throw

With this test:
See Sample

Results in this output:
estProject1.RazorTestComponents.InputeSelectEnumTest

[2021-10-23 15:35] #527 closed, assigned to nobody

[2021-10-23 15:41] #528 closed, assigned to nobody

[2021-10-23 16:24] #529 closed, assigned to nobody

[2021-10-23 16:27] egil opened #532 "Document Blazor test component limitations"
Document the recommendation of inherting from `TestContext`, to avoid issues with using two-way binding in tests. See #529 for context.

[2021-10-25 13:27] drma-tech opened #535 "The current thread is not associated with the Dispatcher. Use InvokeAsync() to switch execution to the Dispatcher when triggering rendering or component state."
[code]
[code]
this error occurs when executing the line: StateHasChanged.
is it possible to run a test with this?

[2021-10-25 13:50] #535 closed, assigned to nobody

[2021-11-03 19:05] egil opened #553 "Make "async" event trigger extension methods public"
All the event trigger extension methods in bUnit-dev/bUnit/tree/main/src/bunit.web/EventDispatchExtensions that ends with `Async` should be made public instead of private.

See discussion in #552 for reasoning and details.

[2021-11-03 22:28] egil opened #554 "Add PageX/PageY/OffsetX/OffsetY to event trigger methods that creates MouseEventArgs"

[2021-11-07 14:43] RafaelMeloTrakx commented on #45
The same error happens to me when I try to add a simple menu item dynamically. I am using Radzen.Blazor v3.9.6.

![image](https://user-images.githubusercontent.com/79855726/140649657-32c9fa42-de0e-4ae6-b142-3d2e1ad81abb.png)

![image](https://user-images.githubusercontent.com/79855726/140649750-aca1d785-1eea-4c6f-afae-b5f183af0957.png)

I hope we can get a more stable version of Radzen components

[2021-11-07 15:16] egil commented on #45
@RafaelMeloTrakx you really need to provide a lot more details for me to help. Ideally a minimal project that has just enough code to reproduce your problem.

[2021-11-08 12:01] egil opened #556 "Split Stub component factory logic into new lib while in preview"

[2021-11-09 12:50] #556 closed

[2021-11-09 13:26] #553 closed

[2021-11-10 08:55] hassanhabib opened #560 "FEATURE: Sub-Components Mocking/Stubbing"
Scenario:
When I develop my Blazor components, I try to break them into three types. Pages, Base and Components.
Base Components are wrappers around native or external UI components such as Syncfusion SfGrid or native HTML label control.
Components utilize these Base Components to build a more business-focused capability.
For instance, a Student Registration Component would look like this:

#### S

[2021-11-12 10:16] egil opened #563 "Clicking a submit <button> or <submit> input element doesn't trigger parent <form>'s onsubmit event handler"
**Describe the bug**

`<input type="submit">` or `<button type="submit">` `onclick` events do not trigger `onsubmit` events a parent `<form>` element.

**Example:**
Testing this component:

[code]

With this test:

[code]

Results in this output:

Test fails because there is no `onclick` handler on the button/input element. If there is, then the test fails because the form's `onsubmit` is not bubb

[2021-11-14 13:00] egil commented on #560
Hi @hassanhabib,

The problem here is creating a solution that works in all cases, that wont confuse users.

**My first thought** was to create source generator that generators a Stub of a component.

E.g. for `Foo` component:

[code]

Then, in a test:

[code]

The SG would generate `StubFoo`:

[code]

`StubFoo` should also override all life-cycle methods of the `Foo`, effectively neutering it so

[2021-11-14 13:05] egil commented on #560
With a mocked/stubbed component, you would not be able to call methods on the stub/mock

`.FindComponents<T>` is verbose. I would love to have an easier way to traverse the render tree/component tree. I have yet to figure out a good way to create the render tree as the renderer renders and maintain it while it re-renders.

As for performance, it should not be any worse, so not sure I understand th

[2021-11-15 06:05] hassanhabib commented on #560
@egil thank you brother I appreciate your feedback.

Let me roll-back a bit and just try to clarify few things.
Any dependency of non-localized models or functionality should be wrapped up and abstracted away in _some component_.
I call those components `Brokers` for data pipelines and `Base Components` in UI development.
The idea here is that at any point in time, if I decide to switch from Syncf

[2021-11-15 12:25] egil commented on #560
@hassanhabib, thank you for explaining the pattern are using and motivation behind.

To generalize though, what you are after is a way to tell the Blazor Renderer to instantiate and render component X instead of component Y. Let me explain the "hook" there is in the Blazor Renderer for controlling this, hopefully that can help guide the discussion further.

### Blazors and bUnits hook into compone

[2021-11-15 13:23] egil commented on #560
Regarding creating something like `BMock` with features such as `Setup` and `Verify`, I would prefer not to actually.

There are  numerous mocking frameworks already like Moq, NSubstitute, JustMock, each with their own syntax. Copying one syntax from e.g. Moq to bUnits mock lib is not ideal for users who prefer another syntax.

Instead I would like to explore a way to allow users to combine their

[2021-11-15 14:35] Schaeri opened #564 "EventDispatchExtensions and sporadically failing tests"
We had some issues with sporadically failing tests. Especially when the UI components were complex and use a lot of nested components.
After some investigation, we found out that all EventDispatchExtensions do not await the returned task by the event dispatcher. The extensions contain private methods which would return the task from the dispatcher but they are not accessible from our code.
We fixe

[2021-11-15 14:44] egil commented on #564
The methods async have been made pubic in the latest release 1.3.x. See last point in https://github.com/bUnit-dev/bUnit/releases/tag/v1.3.42 for details.

[2021-11-15 14:44] #564 closed

[2021-11-17 11:36] egil commented on #560
### Thoughts on `@ref` problem

Consider the following component under test:

[code]

And our `ThirdPartyCompoent` look like this:

[code]

The problem here is that `ThirdPartyCompoent` is inherently unmockable. It's a class, where its `GetSomething` method is not virtual, something I assume will be quite common.

We can create (generate) a `MockThirdPartyCompoent` that look like this:

[code]

Ho

[2021-11-17 23:11] egil commented on #560
@hassanhabib, I have played around with integrating Moq and NSubstitute with bUnit, and I have something I would like you to take a look at, since it seem to work surprisingly well.

To get started, add the following `ComponentFactoryCollectionExtensions.cs` file to your bUnit test project:

[code]

The two extension methods in this class makes it easy to add simple component factories that will e

[2021-11-21 02:15] hassanhabib commented on #560
@egil Thank you so much for this. This is beyond beautiful.
There's only one tiny piece that would be this perfect!
Verifying a particular dependency component have had certain parameters passed to it.
here's my scenario:

Our `TeachersComponent` uses a dependency base component `GridBase<T>`.

The `TeachersComponent` is calling a service to pull in the data like this:

[code]

On the markup side

[2021-11-21 09:10] egil commented on #560
@hassanhabib thanks for the feedback. The current solutions support (at least) these two ways of verifying parameters passed to a mocked component.

[code]

In the first test we use Blazor's `ParameterView.SetParameterProperties` to set any parameters pass to the mocked component on the mocked components parameter properties. this works, but If the mocked components parameter are not virtual, the

[2021-11-21 20:57] bonsall opened #567 "SetParametersAndRender suppresses ArgumentOutOfRangeException"
It looks like bUnit is suppressing some exceptions in the SetParametersAndRender function. This causes issues as I am not able to assert that my property setter throws an exception.

[code]

With this test:

[code]

Results in this output:

[code]

The exception should bubble up and be caught by the `Assert.Throws` method which will result in a passing test.

**Version info:**

 - bUnit version: 1

[2021-11-21 21:03] egil commented on #567
Thanks for reporting this. I'll take a look as soon as possible and get back to you.

[2021-11-22 15:04] #567 closed

[2021-11-22 15:04] egil commented on #567
I have confirmed this and it has been fixed. A new preview release should hit GPR in a few minutes with fix.

If you can, please try out the preview and report back. See this post to learn how: https://github.com/bUnit-dev/bUnit/discussions/209

[2021-11-24 20:17] bonsall commented on #567
I think this one may be trickier than you think. When I updated to the latest preview my test fails, but for a different reason. It looks like my `ArgumentOutOfRangeException`  is being wrapped inside of a `InvalidOperationException`. The output of the test clearly has my `ArgumentOutOfRangeException` with it's custom error message, but it still looks like the exception is still being caught by so

[2021-11-24 20:38] egil commented on #567
The exception that is thrown comes from Blazor. When Blazor tries to map the parameters you are passing to your component under test, it captures the exception that your property setter throws, and wraps it and any other exceptions from other parameters in the `InvalidOperationException` you are seeing. bUnit cannot change that. If you look at the `InvalidOperationException.InnerException` propert

[2021-11-24 21:34] bonsall commented on #567
I didn't realize it was blazor that was doing that. Thanks for the help. And thank you for the quick turnaround.

[2021-11-24 21:44] egil commented on #567
My pleasure, and thanks for bringing this to my attention.

[2021-11-30 17:44] rodolfograve opened #573 "Error while validating the service descriptor 'ServiceType: Bunit.Rendering.WebTestRenderer"
**Describe the bug**

Validating TestContext.Services fails with the error in the title.

I am writing tests that validate that my Dependency Injection is configured correctly. When I try to use bUnit's TestContext the validation fails.

[code]
Results in this output:

[code]

**Expected behavior:**

No exception.

**Version info:**

 - bUnit version: 1.3.42
 - .NET Runtime and Blazor version: 6.0

[2021-11-30 23:46] egil commented on #573
bUnit's `TestServiceProvider`, available through the `Services` property, is hybrid between an `IServiceCollection` and an `IServiceProvider`. It works by switching from a service collection to a service provider when the first `GetServices` call is received.

It also comes with a bunch of bUnit specific services added out of the box, so it might not be useful or do this verification based on bUni

[2021-12-01 09:25] rodolfograve commented on #573
I would like to validate my Dependency Container configuration, making sure I don't get any "missing dependency" errors at runtime.

The reason I'm trying to use bUnit for this is that it looked like bUnit would add the services that Blazor adds on its own, e.g. NavigationManager, IJSRuntime, etc, which I had started to mock on my own.

My expectation was that it would just work. I'm happy to be t

[2021-12-01 09:51] egil commented on #573
I see.

bUnit does indeed add a bunch of fake or mock implementations of the common Blazor runtime services. Most you can replace without issue, but bUnits `IJSruntime` comes with a whole bunch of extensions that makes some of the 1st party components in Blazor work in a testing context. You can learn more about them here: https://bunit.dev/docs/test-doubles

bUnit TestServiceProvider does validat

[2021-12-01 10:08] rodolfograve commented on #573
Thanks, @egil .

I took a look at the code and I think bUnit does not perform the same validation. I can see it's using "validateScopes", which is a subset of the validations. .net 6 added the option "validateOnBuild" which makes sure every single registered dependency can be resolved. This is the line of code I found

`rootServiceProvider = serviceCollection.BuildServiceProvider(validateScopes: t

[2021-12-01 10:18] egil commented on #573
We can certainly give it a try. There are a whole bunch of lazy initialization of some bUnit assets that might not work with ValidateOnBuild.

Feel free to give it a try with `#if (NET6_0_OR_GREATER)` and lets see what happens. No promises though, haven't thought through the implications of this.

I am still wondering what value that test gives you? You are both testing your own registrations and

[2021-12-01 10:28] rodolfograve commented on #573
That's fair enough :-) I will give it a go and let you know.

As for the value of the test, I'm not trying to test bUnit's registrations. They get validated by accident. I'm just trying to validate my own registrations and I'm using bUnit because it registers those pesky Blazor dependencies that I would otherwise have to deal with myself.

As one of the few corners of the code that cannot be valid

[2021-12-01 11:08] rodolfograve commented on #573
OK, there it goes! It's my first PR on this project, so please be patient :-)

[2021-12-07 13:01] jacobpihl opened #576 "Using Click() in a test does not respect `disabled` attribute"
**Describe the bug**

If a component has the disabled attribute the onClick handler is still invoked when using element.Click().

**Example:**

Using the example from https://bunit.dev/ but adding `disabled` attribute.

[code]

With this test:

[code]

Results in a passed test.

**Expected behavior:**

Test should fail since the button shouldn't be clickable due to the `disabled` attribute.

**Ver

[2021-12-07 13:19] rmihael opened #577 "Deadlock when using FindComponent(s) with WaitForX"
Today we started to see random hang-ups while running bUnit tests. After some debugging, it boiled down to these two threads mutually locking each other:

[code]

[code]

It seems that `Renderer.DispatchEventAsync` calls `TestRenderer.ProcessPendingRender` which locks `TestRenderer.renderTreeAccessLock` and then proceed to `WaitForHelper.OnAfterRender` where it waits on `WaitForHelder.lockObject`.

[2021-12-07 18:54] #573 closed

[2021-12-07 19:02] egil commented on #576
Thanks for submitting this.

I am uncertain in this should be considered a bug.

The way I see it, you should almost never test other people's code (code you don't own). It seems to me that you want to check that the `disabled` attribute has added to your button, and that can be done by checking `cut.Find("button").Disabled` iirc.

Then you can assume that Blazor/the browser will follow the specs

[2021-12-07 19:07] egil commented on #577
Thanks for reporting this.

I cannot say anything specific since you have not shared your test code. That said, you mention that have way more sync code paths in your code than before, so it might mean you can remove some of the `WaitFor*` calls in your tests. They are generally only needed when a rendered component cannot complete all it's rendering work synchronously, and have to await e.g. data

[2021-12-07 19:20] #576 closed

[2021-12-08 14:44] rmihael commented on #577
I would gladly share our test code. However, it's a part of a large application and based on SpecFlow, so it's rather useless if taken out of context. I can try to make a simpler XUnit test reproducing the problem, but I cannot share code for application components. Will such a test be helpful for you to diagnose the problem?

[2021-12-08 18:04] egil commented on #577
Yes, a small sample/example test project is great for debugging. Something I can run locally. Try to reduce the code as much as possible to remove any noice.

[2021-12-13 14:10] linkdotnet commented on #563
Hey @egil I had a short look at the discussion and the bug itself.
We could extend [TriggerEventDispatchExtensions](https://github.com/bUnit-dev/bUnit/blob/main/src/bunit.web/EventDispatchExtensions/TriggerEventDispatchExtensions.cs#L54) to check if we have an onclick in a form. If so we add the event.

An idea (out of my brain, this is most likely not compilable) to extend `TriggerBubblingEventAs

[2021-12-13 20:34] egil commented on #563
Hi, thanks for taking the time.

You are on the right track. The challenge here is to make sure that we do exactly as the browser does, and bubble the right types of events to the correct `<form>` (or all forms)?

In general, this is a specialization of the bubbling implementation in TriggerBubblingEvent you found, we just need to figure out all corner cases/scenarios.

This issue is definitely up

[2021-12-13 21:07] linkdotnet commented on #563
Hey @egil thanks for the quick response. I can try to have a look at the end of the week / weekend, but can't promise anything.

[2021-12-14 11:45] linkdotnet commented on #563
I try to keep this comment up to date with all the findings / requirements I found.
 - [ ] Forms inside forms must not contain other forms (see [B. Element Prohibitions](https://www.w3.org/TR/xhtml1/#prohibitions)). Therefore we don't have to care about another `<form>` element in the hierarchy which would receive the submit-event.
 - [ ] Clicking a submit button (either via `<input type="submit">

[2021-12-14 17:52] egil commented on #563
Sounds good. If you find any other issues while investing this, we can expand this issue.

I'm very hung up with a work thing the next two days, but hopefully get back to this on Friday.

[2021-12-14 21:14] linkdotnet commented on #563
[code]
Would print "Submitted" on the console and submit afterwards the form.

[2021-12-16 19:45] linkdotnet commented on #563
I made a small proposal PR. It does not fix the last issue (button / label outside the form which can raise the onsubmit event).
But I guess it can be a foundation for a discussion.

[2021-12-17 17:40] egil commented on #563
Great. I will take a look tonight and give you my feedback.

[2021-12-17 22:10] egil commented on #563
Check.

I have no objection to switching to a mode where we invoke and then await each event handler in the proper order. Then, if users need, they can use the async versions of the trigger methods and await them.

So what you are saying is that if we have an `@onsubmit` event on a button it will be triggered? That seems right.
If we change this, and we could definitely do that, then we should pro

[2021-12-18 07:37] linkdotnet commented on #563
Sorry I wrote that a bit confusing. The browser as well as blazor behaves here the same: Only the `onsubmit` event of a form is invoked. You can declare it on any other element, but your browser will never execute the `onsubmit` event.
Small example:

[code]
Clicking on the submit button will only Display: `Valid Form Submit` but will not show `I will be not triggered`.
Therefore I like to throw a

[2021-12-18 08:22] egil commented on #563
Yep, let's just leave that as it is. It took almost 2 years before somebody tripped over this one 😂

[2021-12-18 08:23] linkdotnet commented on #563
I tried to create a valid test case for the `Task.WhenAll` ordering:
[code]
Practically speaking `CountPartitions` is `O(n^2)`. But still the order was always correct.
So I digged into [MSDN Task.WhenAll](https://msdn.microsoft.com/en-us/library/hh194766%28v=vs.110%29.aspx) again. Sure it states that the result is in the same order as the input for `Task.WhenAll(Task<TResult>[])` but we don't have

[2021-12-18 08:25] linkdotnet commented on #563
So having a look at this:
[code]

This will output:

We clearly see that it's not in order. But I don't get it reproduced with the events :D

[2021-12-18 08:31] egil commented on #563
So blazor will run as much it can synchronously, an entire event handler if possible ø

So, actually, now that I think of it, `Task.WhenAll` is not a problem. All event handlers are invoked in the right order. If they do not complete immediately due to async code, they complete out of order. However, that is also how Blazor does it in production, so this works correctly as far as I can tell.

[2021-12-18 14:09] #563 closed

[2021-12-18 14:14] #532 closed

[2021-12-18 14:16] #490 closed

[2021-12-18 14:17] egil commented on #526
I'll close this. If these enhancements gets requested (aka folks dont just use a mocking framework), we can revisit these.

[2021-12-18 14:17] #526 closed

[2021-12-18 14:19] egil commented on #396
I'll close this again. There is rudimentary support for shallow rendering now, documented in the next release of the docs.

[2021-12-18 14:19] #396 closed

[2021-12-18 14:22] egil commented on #560
@hassanhabib, the additions that are part of the preview release should allow you to use your favorite mocking framework quite easily with bUnits, so I'll close this, and we can open new issues if there are specific additional features needed.

[2021-12-18 14:22] #560 closed

[2021-12-21 09:56] brettwinters opened #585 "<InputCheckbox> "value" and "checked" attributes always null and empty respectively"
The "value" and "checked" attributes are always null and empty in the example below, yet work correctly in the browser.

If the InputCheckbox is replaced with an `<input type="checkbox" />' element, and wiring up the `onchange` then the correct attribute values are obtained.

[code]

Running the Bunit test as follows:
[code]

But using the Input element directly, as follows results in correct attr

[2021-12-22 11:41] egil commented on #585
Hi Brett,

When I test the following component:

[code]

with this test:

[code]

So it looks like it is actually working correctly, because Blazor just adds the `checked` attribute without giving it any value, and that is in fact correct from an HTML5 point of view.

Can you try again and see if you are also seeing this behavior.

[2021-12-23 02:07] #585 closed

[2021-12-23 14:25] mgwilliam opened #586 "can't get .IsFocused to return true"
in a .NET 6 Blazor WASM app I have a page containing:

`<InputText @ref="_initialFocus" type="email" id="email" @bind-Value=@_model.Email />`

in the `OnAfterRenderAsync` I do this:

`await _initialFocus.Element.Value.FocusAsync();`

when the app runs, focus is set to the email input as expected

in my test I'm trying to test this behaviour as follows:

[code]

however, `.IsFocused` always returns

[2021-12-23 14:28] egil commented on #586
Try this: https://bunit.dev/docs/test-doubles/emulating-ijsruntime.html#focusasync-jsinterop-emulation

[2021-12-23 15:42] mgwilliam commented on #586
thanks for the reply

I tried that but get this:

[code]

[2021-12-23 23:32] egil commented on #586
Can you share your entire test and component?

[2021-12-24 04:57] mgwilliam commented on #586
I was creating an example for you and I found the issue...

I had created a test class derived from TestContext and then used the code from your example link

however, this meant that I was creating another test context in the test method in addition to the context from the base class

this caused the test to fail - removing the context from the test fixed it

thanks for your help!

[2021-12-24 10:04] egil commented on #586
Glad it's sorted. Sorry about the confusion with the docs. Have not yet decided if I should just show examples without an explicit TestContext or not. Might make things hard for newcomers to understand if I do, but it also trips up others.

[2021-12-24 10:05] #586 closed

[2022-01-10 21:10] AndrewStrickland commented on #517
@egil

I know this has been closed out for a while now, but I am working on upgrading a project and I am running into this problem with the latest packages.
bUnit: 1.4.15
MIcrosoft.NET.Test.Sdk 17.0.0
Blazorise 0.9.5.4
.NET6

My project is using Blazor WASM instead of Blazor Server mentioned further up in this thread. Dunno if that is making the difference?

I've put together a small sample applic

[2022-01-11 16:13] egil commented on #517
Hi @AndrewStrickland, ive taken a look at your sample app and it breaks in the same way on my computer, but only when I use `WaitForXXX`. If I remove the wait for logic it behaves as expected.

Can you create a new issue so we can track that separate from this, although it is very much related to this.

[2022-01-11 16:20] AndrewStrickland opened #601 "There is no event handler with ID '' associated with the 'onclick' event in the current render tree"
Similar to #517

I am working on upgrading a WASM project and I am running into this problem with the latest packages.
bUnit: 1.4.15
MIcrosoft.NET.Test.Sdk 17.0.0
Blazorise 0.9.5.4
.NET6

I've put together a small sample application to demo my problem.
https://github.com/AndrewStrickland/bUnitBugHunt

It has a DataGrid. Each entry has a button that allows a user to remove that entry. If this butto

[2022-01-11 16:21] AndrewStrickland commented on #517
Thanks for the quick look @egil

New bug is here: https://github.com/bUnit-dev/bUnit/issues/601

[2022-01-12 12:35] egil commented on #601
Changed the title since bUnit tests doesnt care about the environment you will ultimately run the code in. bUnit tests runs under the .NET runtime on your machine.

[2022-01-12 15:58] linkdotnet commented on #601
I tried to have a look at this and as discussed it seems close to #517

You can steam down the code to the following:

CrashComponent
[code]

Test.cs
[code]

Now interesting is that `cut.Find("[aria-label='Second']").Click();` will throw the exception. But due to the way the exception is handled it will be raised only in the next call. Mainly `WaitForState`. To be more precise int the ctor of `Wai

[2022-01-12 16:29] linkdotnet commented on #601
I did some more investigation and found the culprit:

Let's take the example from above:
Before the click we have the following html:
[code]

After the click (so we force a re-render) we have this:
[code]

We see that the id's change. Now that shouldn't be a problem for itself, but let's have a closer look at `GetDispatchEventTasks`.

The inner loop: `foreach (var candidate in element.GetParentsAn

[2022-01-13 09:09] egil commented on #601
Thanks for taking a lookg @linkdotnet . This is exactly it, and the error handling in the trigger method is build such that it only allows the `UnknownEventHandlerIdException` to bubble up is if the first triggered element throws, otherwise it is swallowed.

When I debug @AndrewStrickland's test project locally, it seems the problem is actually related to his use of `WaitForState`, and in relation

[2022-01-13 10:48] linkdotnet commented on #601
I guess I get your point @egil .
My question is whether or not `WaitForHelper` is the problem or just "showing the symptoms" but the root cause is in `GetDispatchEventTasks`? And consequently what would be a fix allowing the test to pass?

The use case / test itself seems valid on first look.

[2022-01-13 18:46] egil commented on #601
My current take is that it's something related to `WaitForHelper`, since that is what is causing the problem. The exception it trips on comes from the Blazor renderer originally. However, I don't have time to probably dig into this before later next week, so welcome all suggestions or input you might have.

[2022-01-13 19:20] linkdotnet commented on #601
I'll just lay down the stuff I found out, obviously you have a way deeper knowledge than I do, so if I jump to (false) conclusions too fast please correct me. This might be a bit longer thread ;)

Let's take my test from [here](https://github.com/bUnit-dev/bUnit/issues/601#issuecomment-1011193783) which gives us the output of [here](https://github.com/bUnit-dev/bUnit/issues/601#issuecomment-101122

[2022-01-16 16:19] egil commented on #601
I appreciate your effort to understand the problem here @linkdotnet. Thanks.

When I tried the sample project, what I saw was that if the `WaitForState` call was not in the sample test, the test behaved as expected.

What causes the `WaitForState` call to fail was that it checks the renderers unhanded exception task, which is still set/being set by the renderer during the click handler invocation.

[2022-01-17 19:50] linkdotnet commented on #554
Hey Egil,

I just had a small look at this improvement and it raised a question: Does it really make sense to have a method signaturelike this in the first place?
[code]

Instead of directly asking for a `MouseEventArgs`? like:
[code]

Maybe for convenience we could provide a default as you did:
[code]
The same applies basically to all methods in this regard.
I get the idea behind kind of correct

[2022-01-18 09:11] egil commented on #554
Hey Steven,

There are actually three overloads:

[code]

I decided on that pattern because I wanted to make it easier for users to invoke an event handler that required a specific part(s) of a event args to be set. In reality, most probably dont need that, and with the ability to do `new() { ... }` (added after I created this)` its even less trouble just passing in one of the specific event args.

[2022-01-22 20:36] SeanFeldman opened #609 "FakeNavigationManager in asynchronous test"
**Describe the bug**

Testing a component that has navigation operation as the last action on the successful path of execution.
The test using `FakeNavigationManager` to validate the URI has been changed is failing unless a short delay of ~1 second is introduced before the validation takes place.

**Example:**
Testing this component:

[code]

With this test:

[code]

Results in this output:

[code

[2022-01-23 16:03] egil commented on #609
Hi @SeanFeldman

If you are doing async work in your component before calling `NavigateTo`, your on doing so from different thread than the one your test is asserting/running on. Thus, you most likely want to do this to get things passing as fast as possible:

[code]

`WaitForAssertion` will recheck the assertion everytime the component renders, and that should happen when the method `FormSubmitte

[2022-01-24 03:54] SeanFeldman commented on #609
Thank you @egil for a prompt response.

I wish that would be the case. The test fails wherever the assertion is wrapped in `cust.WaitForAssertion()` or not if the `await Task.Delay(1_000)` is not added prior to the assertion. My initial attempt was to wrap my assertion in `WaitForAsync()` but seeing no impact on the outcome and the need for a delay, I removed it.

I'm not sure about it but will me

[2022-01-25 09:18] #339 closed

[2022-01-25 09:44] egil commented on #609
Interesting. Just want to make sure I understand:

This code runs without exception:

[code]

But the following code does not:

[code]

What happens if you write your assertion like this:

[code]

In your original code, you are actually running the assertion twice by first checking that the URI in the first `WaitForAssertion` and then again afterwords. `WaitForAssertion` will only pass if lambda p

[2022-01-25 10:22] #601 closed

[2022-01-25 10:24] egil commented on #601
Hi @AndrewStrickland, we just merged a fix for this by @linkdotnet. There should be a nightly release dropping shorting on GitHub Package Repository. It would be fantastic if you can try it out on your code and verify that it fixes the issue. Here is how to do so: https://github.com/bUnit-dev/bUnit/discussions/209

[2022-01-25 22:53] SeanFeldman commented on #609
Your understanding is correct.

This will fail because there's a failing assertion for a while (until the navigation manager changes to the desired URL).

Registering a new version of `FakeNavigationManager` did not work, **but**, if I remove `AssertionScope`, the test will pass but that means I cannot have more than one observation failing and find out which ones. For this use case, I'm inclined

[2022-01-25 22:53] #609 closed

[2022-01-25 22:56] egil commented on #609
Hmm, its weird that wrapping your assertions in an `AssertionScope` causes this. I would not expect that. I will have to investigate further when there is another day in the week :)

[2022-01-25 22:59] SeanFeldman commented on #609
To the next life! Where there is an extra day in the week. Maybe 😀
Thank you, Egil. If you do dig into it and find something, I'll be interested to read about it.

[2022-01-26 09:27] egil commented on #609
Have you looked at https://www.nuget.org/packages/FluentAssertions.BUnit/ from @srpeirce.

Steve, do you have any insights into the AssertionScope issue Sean is seeing?

[2022-01-27 06:47] SeanFeldman opened #611 "Failing to find input element by ID"
**Describe the bug**

In the test, trying to find the input of type checkbox by ID to click it.

**Example:**

For brevity, I stripped all other elements (inputs of type `text`) and the surrounding `EditForm`.
[code]

With this test:

[code]

Results in this output:

[code]

But when testing it with the following CSS selector:

[code]

it works

**Expected behavior:**

Should not fail.

**Version

[2022-01-27 07:34] eshangin opened #612 "Ability to ignore all attributes of an element with semantic comparison"
I think it could be useful to have ability to ignore all attributes of particular element using something like `allattributes:ignore`. For example DIV can contain "class", "style" and other attributes. We will be able to ignore all attributes of element using only one option.

At the current moment I see that we can do kind of the same using next options:
1. ignore each element using separate inst

[2022-01-27 07:45] SeanFeldman commented on #611
I've noticed something odd when added an XUnit logger to capture the output - my `InputCheckbox` is not rendered, which would explain why the CSS selector is failing. The checkbox is not conditional and is always rendered. Any idea why this is happening?

<img width="320" alt="image" src="https://user-images.githubusercontent.com/1309622/151313845-335b9394-07bf-403c-a202-4419483ade79.png">

<detai

[2022-01-27 08:42] egil commented on #611
Hi Sean,

Try inspecting `cut.Markup` during debugging to see the raw rendered markup. Maybe the `InputCheckbox` component is not doing what you expect.

[2022-01-27 09:01] egil commented on #612
Hi @eshangin, thats actually already supported. Somehow this fell out of the documentation though (its should be back soon).

You can `diff:ignoreAttributes` to ignore all attributes and `diff:ignoreChildren` to ignore all child elements/nodes, but still verify attributes.

[2022-01-27 09:01] #612 closed

[2022-01-27 09:06] egil commented on #612
Here is the updated docs: https://bunit.dev/docs/verification/semantic-html-comparison.html#customizing-options

[2022-01-27 09:26] eshangin commented on #612
Hi @egil. Just tested. It works, thanks! One more idea: for example we want to test "title" attribute but ignore all other attributes. In this case it would be useful to have something like `title="abc" diff:ignoreAllOtherAttributes`. What do you think?

[2022-01-27 09:37] SeanFeldman commented on #611
`cut.Markup` doesn't have that checkbox. That's puzzling.

[code]

[2022-01-27 09:39] egil commented on #612
My initial thought is that it might not be a usecase for `MarkupMatches`.
I would just find the element and then the title attribute, and verify the contents of it directly. E.g. `cut.Find("element").GetAttribute("title").Should().Be(expected)`.

[2022-01-27 09:40] SeanFeldman commented on #611
Oh my, so sorry... I keep falling for not using the wrong component in the `ctx.RenderComponent<T>()` call 🤦‍♂️

[2022-01-27 09:40] #611 closed

[2022-01-27 12:16] eshangin commented on #612
@egil I used your approach. Thanks for your time and this helpful library!

[2022-01-29 09:07] srpeirce commented on #609
Thanks for the tag @egil

I'll be honest and say I don't usually use assertion scopes. Do we have minimum code example to recreate this?

I can have a play later

[2022-01-29 09:10] SeanFeldman commented on #609
@srpeirce in the issue description, I've got the snippets copied from my project but I don't have an isolated repro just with that.

[2022-01-29 18:45] linkdotnet commented on #554
Hey Egil, sorry for answering a bit late. Hope you're doing well.
Do you think it would be worth considering putting `ObsoleteAttribute` on those methods?
Sure it only makes sense if you decide with certainty that those methods will get removed.

Or do you want to handle `v2.0` stuff on a backlog?

[2022-01-31 07:56] denisekart commented on #264
Hey,

I'd like to tackle this one if that's ok.

If I understand the issue correctly, we'd like to ensure type safety at design time and this can't be done via the `AddChildContent` extension.

[2022-01-31 10:25] egil commented on #264
Awesome.

Yes. We have to resort to runtime verification since I dont think we can make the builder's API disallow it at compile time. If you can figure out a way to modify the builders API such that the compiler will catch this, all the better.

[2022-01-31 10:38] egil commented on #554
Hi Steven, thanks, doing good. No need to be sorry, we're all doing this in our spare time! Hope you are doing well too!

I am not sure adding Obsolete attributes to the methods now is a good idea. I actually thing we have to remove them to avoid ambiguous methods errors from the compiler, because I do not want to always force users to pass a `EventArgs`. There should be an overload that takes no

[2022-01-31 11:44] linkdotnet commented on #554
Days are getting longer ;) That is very nice :D (at least here in Zurich)

You are right, those topics are not really related. I create a small PR for the current v1 branch which adds those additional fields.  Additionally I'll add another "issue" addressing v2.

[2022-01-31 12:00] linkdotnet opened #617 "`Click` and `DoubleClick` should directly use `MouseEventArgs`"
## Current Situation
The current state offers multiple overloads with a dozen of properties which are mapped one to one to the `MouseEventArgs`:
[code]

The motivation behind is to have a "valid" argument passed down which behaves like Blazor would in a "real" scenario (`detail = 1` for example for `Click` and `detail = 2` for `DoubleClick`).

## Proposed Solution
bUnit already offers an overload

[2022-01-31 12:02] linkdotnet opened #618 "Mark overloaded Click and DoubleClick as obsolete"
This is a pre-cursor for #617

If we want to implement #617 we should give the user a "notice period". Therefore the suggestion would be to mark all overloads of `Click` and `DoubleClick` which are not using directly the `MouseEventArgs` as obsolete.

[2022-01-31 12:04] linkdotnet commented on #618
@egil I made two "issues" out of the original discussion [here](https://github.com/bUnit-dev/bUnit/issues/554#issuecomment-1025598918). We could merge them but from a temporal point of view one is before the other.

[2022-01-31 22:45] egil commented on #618
I am inclined to NOT add the Obsolete attribute and simply remove the methods for v2. Most wont notice it during upgrade because they will simply be able to recompile and it will work because they do not use any the parameters in the methods. But ill leave this issue here so we can make a final decision later.

[2022-01-31 22:52] #554 closed

[2022-01-31 23:26] V0ldek opened #622 "Allow to test asynchronous exceptions during `OnAfterRenderAsync`"
**Is the feature request related to a problem? Please elaborate.**

A component can fail during `OnAfterRenderAsync`. I might be wrong, but I see no way of testing that with the current API. Seems like nothing actually awaits the task that was returned. For example:

[code]
[code]

I would like to be able to fail the test, because the `OnAfterRenderAsync` failed with an exception.

Note that this

[2022-02-01 06:36] linkdotnet commented on #618
Okay sorry that is on my :) I misunderstood this a bit.
Of course it would only make sense to mark methods a priori v2 so that the users have a chance of noticing and reacting.

But to be fair the change is very very small without any side effects. I guess one sentence in the „How to migrate“ should cover that issue.

Therefore let’s close that issue and I’ll the requirement of adding some documen

[2022-02-01 07:18] linkdotnet commented on #622
Hey @V0ldek

I tried to re-create your problem and at least in my case, I do get this exception in a test. I guess the problems is more in the setup of your test. You are setting the result (`SetVoidResult`) of your invocation after the first render-cycle.

[code]

This test will pass as your component will throw an exception.

[2022-02-01 09:54] egil commented on #622
Hi @V0ldek, depending on your use case, you can go with @linkdotnet suggestion.

However, the feature you are looking for is already there:

[code]

Ps. Never use `async void` as your return type for test methods. While it is supported, its not recommended.

[2022-02-01 10:08] #264 closed

[2022-02-01 10:14] robalexclark opened #623 "JSRuntimeUnhandledInvocationException even though JSInterop setup"
I have a JSRuntimeUnhandledInvocationException:

[code]
despite setting up the TestContext as suggested:

[code]

Any ideas why this is happening?

[2022-02-01 10:30] linkdotnet commented on #623
Hey @robalexclark
can you provide your complete and reproduceable example? So what is your component doing and what is the setup/act of your test. That would be pretty helpful to boil it down a bit.

[2022-02-01 11:03] robalexclark commented on #623
It was going to be difficult to make a reproducible example, but the good news is I think I worked through it.

Changing my TestContext setup to:

[code]

So the difference is that the JS methods work off the module instances and not the JSInterop property.

I think that the error message given when running in strict mode for a missing JS setup helps a lot, but could be improved  misleading as I t

[2022-02-01 11:23] robalexclark commented on #623
Also, worth mentioning that I found that trying to use bUnit with JSRuntimeMode.Loose was a receipe for disaster - anything like blazorise needs setting up properly JS wise otherwise getting tests to produce anything meaningful wont be productive.

[2022-02-01 11:23] #623 closed

[2022-02-01 11:45] linkdotnet commented on #623
Hey 👋 @robalexclark  glad you found it for yourself.

regarding the module: yes you are right you have to setup the invocations on the module.
[Here are the docs](https://bunit.dev/docs/test-doubles/emulating-ijsruntime.html#support-for-importing-javascript-modules) which can you provide with a bit of in depth explanation. Hope that helps.

[2022-02-01 12:02] egil commented on #623
Glad it got sorted, thanks for helping @linkdotnet.

Perhaps we can improve the exception message for folks using the modules, to make it clearer that the missing setup bits are needed on their module.

[2022-02-01 13:30] #618 closed

[2022-02-01 14:43] egil commented on #622
Closing as the requested feature is already implemented.

[2022-02-01 16:08] V0ldek commented on #622
@egil

That still tests synchronous failure. If I wanted to test what happens when the handler actually waits on a Task it won't work.

[2022-02-01 16:15] V0ldek commented on #622
@egil

This sounds good, but I have a problem with testing for the successful case.

If the handler actually fails, then `await ctx.Renderer.UnhandledException` correctly returns that exception.

But if it succeeds, then that `await` will handle indefinitely. Is there any way to test that all the handlers have completed successfully?

As a workaround, one can pop a `Task.Delay(1000)` and then test

[2022-02-01 16:23] egil commented on #622
@V0ldek, again, depending on your scenario, there are other things you can check. All `IRenderedComponent` have a `RenderCount` that you can assert against. It will increment after every render of a component.

In general, you should know in your test when an async exception caught by the Blazor Renderer will have been thrown, since you should be controlling when that exception is thrown in your t

[2022-02-01 16:37] V0ldek commented on #622
@egil

The problem is that it doesn't work so smoothly in actuality. First of all, the `RenderCount` is incremented immediately after the render, disregarding the `OnAfterRenderAsync` handler, so it is already `1` when the handler is waiting for an uncompleted `Task`.

But the issue persists. This code does _not_ work correctly:

[code]
At the point I marked with an arrow I would like to assert th

[2022-02-01 16:42] V0ldek commented on #622
While doing that, I have also discovered that my other test is flaky for a similar reason. Consider this logic:

[code]
And the test:
[code]

This test sometimes fails on the second `VerifyInvoke`. That's because there is a race condition where the `BarComponent` called `"bar"`, awaits its result, then my test sets the results and immediately verifies, without `OnAfterRenderAsync` being resumed.

[2022-02-01 17:43] robalexclark commented on #601
I had exactly the same issue, blazorise grid with a delete button that could not be tested. After installing the preview version, the tests worked.

[2022-02-01 17:48] linkdotnet commented on #601
Ahh very nice to here @robalexclark and thanks for reporting back

[2022-02-01 17:56] V0ldek commented on #622
@egil

So, rephrasing the issue, there is no way to test rendering if the `OnAfterRenderAsync` runs actually asynchronously.

I really dislike this implicit contract, where I have to consciously make sure that in test code no render is ever actually asynchronous, or my test can get flaky. I'd much rather see a `WaitForAfterRenderAsync` on the Renderer that would serve as a synchronization point fo

[2022-02-01 18:06] egil commented on #622
What you are asking for is not really exposed by the Blazor Renderer. It has an internal queue that it adds async work to when there is some.

However,  you can definitely have async stuff in your tests, my recommendation is just that you control it to make your tests predictable.

Make `PerformAnOperationThatMightThrowAnException` something you can control from a test, e.g. by making it a service

[2022-02-01 18:49] V0ldek commented on #622
But this is the problem, though. I can make it complete the task later in the test, but there is no way to do the assertions safely afterwards, because there is no guarantee that `OnAfterRenderAsync` actually completed. I would need to complete the task and _then_ have a mechanism to make sure the code in the handlers completed.

For actual production UI code there's no need to expose that. But fo

[2022-02-02 07:35] denisekart commented on #129
This looks like an interesting issue. I'd like to give it a shot.

(I'll probably have some questions along the way)

[2022-02-02 10:30] egil commented on #129
That would be great. I cannot help much with how to get the bunit.template arguments working, but can help with what should be generated.

A few notes:

1. Look to https://bunit.dev/docs/getting-started/writing-tests.html for inspiration on what should be in each template project type (e.g. `BunitTestContext` for NUnit and MSTest)
2. We also need to update the verification.yaml workflow such that

[2022-02-02 10:46] egil commented on #622
A few points:

1. bUnit uses Blazors Renderer, so anything that is not exposed by that we cannot access.

2. Any awaited async code in `OnAfterRenderAsync`, will not trigger a component to re-render after it completes, that is how Blazor works. You have to explicitly call `StateHasChanged` for that. And it is by definition something that happens "after render", so rendering of the component is don

[2022-02-02 11:05] Modricagon commented on #45
I am having this issue it has been very challenging.

I have included a minimal example to show what has been happening.

[2022-02-02 11:06] Modricagon commented on #45
[ProblemExample.zip](https://github.com/bUnit-dev/bUnit/files/7985856/ProblemExample.zip)

[2022-02-02 17:03] V0ldek commented on #622
@egil

I think we're not on the same page. My point is that even when the async component is completely deterministic and I fully control it after mocking it, the test is _still_ non-deterministic, because there is no way to await `OnAfterRenderAsync`'s completion.

Let me put it hopefully more clearly.

Assume I have a component with a dependency `IDependency`. I need to perform an operation on i

[2022-02-04 09:18] egil commented on #45
@Modricagon you are new'ing up the `Modal` component directly. That is not supported by Blazor and will result in the exception you are seeing. This is not really a bUnit thing, this is fundamental to how Blazor works.

[2022-02-06 12:51] linkdotnet commented on #361
Hey Egil, I hope you are doing well. I just had a look at the issue and the linked PR. And that raised some questions regarding the functionality. As a refresher I am referring to [this comment from you](https://github.com/bUnit-dev/bUnit/pull/451#issuecomment-881866768).

Especially that scenario: `var handler = Setup(i => i.Identifier.StartsWith("myJsLib"));` and the resulting issue between `Set

[2022-02-08 10:40] egil commented on #361
Hi Steven, thanks, hope you are well too.

This issue might be one of those nice to have on the surface, but not worth the effort, because few users actually have a need. There are certainly some open questions that we need to consider before doing a second attempt at this.

Aside: Some parts of me is a bit sad that I ended up creating my own tailormade mocking lib for this particular purpose, but

[2022-02-08 18:20] linkdotnet commented on #361
Hey. Doing well ;)

From an API "use point of view" I would prefer `SetResult<T>` or `Returns<T>` more than specifying the return value when setting up the "mock" (`JSinterop.Setup<T>("").SetResult()`. Guess that feels more natural for me as the major mocking frameworks behave like that.

Anyway I like your idea to offer an abstraction or a way to mock `IJSInterop`. Internally there will be still

[2022-02-09 13:26] Modricagon commented on #45
Thanks for this! This really helped me understand what I was doing wrong. Instead I rendered the Modal component first with the "var cut = ctx.RenderComponent<Modal>();" and then passed the "cut.Instance".

Thanks so much issue resolved.

[2022-02-09 16:10] V0ldek commented on #622
@egil

I want to follow up on this. I feel like this is an important thing to be tested and as it stands it cannot be done in a non-flaky way. If it's impossible to implement in bUnit right now because `BlazorRenderer` doesn't expose that, I get that. But to me that sounds like I should go and file an issue in Blazor to allow this use case, and then it could be added to bUnit.

But we first need t

[2022-02-09 20:00] egil commented on #622
Hi @V0ldek

I understand your use case, however, I do not think it is something that the BlazorRenderer should or will support. The root cause is that bUnit doesn't get notified after an async operation completes in `OnAfterRenderAsync`, because it does not trigger an (re)render of the component. bUnit gets notified after each render, and that is how the `WaitFor...` methods knows when to recheck

[2022-02-09 21:35] egil commented on #361
I think we might revisit this for v2. There is definitely a good case for having a purpose built abstraction/mock of IJSRuntime for bUnit that enables setting up things in a language/api that feels natural to IJSRuntime API. However, changes like that is very likely to be breaking, so lets float some ideas around towards V2.

[2022-02-15 10:12] #129 closed

[2022-02-16 13:41] aguacongas opened #634 "Bunit.Rendering.UnknownEventHandlerIdException since 1.5.12"
**Describe the bug**

Since I upgrade bunit from 1.4.15 to 1.5.12 I've a lot of Bunit.Rendering.UnknownEventHandlerIdException I don't have with 1.4.15 on same test without any modification.

**Example:**
Testing this component:

[code]

With this test:

[code]

Results in this output:

[code]

**Expected behavior:**

No excection

**Version info:**

 - bUnit version: 1.5.12
 - .NET Runtime and Bl

[2022-02-16 15:40] egil commented on #634
Hi @aguacongas,

This happens because bUnit bubbles event up the DOM tree, so if you e.g. have an onclick event on the TD element and the TR element containing the TD element, the TR event will be clicked as well.

Does this happen when you use `Click` instead of `ClickAsync()`?

Also, can you share a copy of `component.Markup` just before you call `ClickAsync()`? That will give us some insight in

[2022-02-16 15:54] aguacongas commented on #634
@egil No it's not happen if I use `Click`

[code]

[2022-02-16 16:03] egil commented on #634
@linkdotnet did we miss a corner case with bug fix in the last release?

[2022-02-16 16:25] linkdotnet commented on #634
@egil  That does sound like an area where we changed some stuff.
Most probable: [this](https://github.com/bUnit-dev/bUnit/pull/605)

I suspect that now exceptions are bubbling which didn't bubble before for some reason.
Can have a look into it
@aguacongas By any chance do you have a reproducible and minimal example?

[2022-02-16 16:27] egil commented on #634
What surprises me is that it does not happen with `Click`, just `ClickAsync`.

[2022-02-16 16:31] linkdotnet commented on #634
Well at least I can reproduce the issue with our `CanHandleRemovedParentObjects` test.
If I just change `cut.Find("button").Click` to `await cut.Find("button").ClickAsync(new MouseEventArgs());` it has the same issue.

I'll have a look what is going on.

[2022-02-16 16:34] aguacongas commented on #634
@linkdotnet no, but I've a lot of test failing since 1.5.12 and all are because of `ClickAsync` on a `td` or a `button` inside a `td` element.

[2022-02-16 16:43] linkdotnet commented on #634
Okay I even tried this with v1.4.15 and still get those Exceptions.  Have to investigate a bit further for that topic.

[2022-02-16 16:46] linkdotnet commented on #634
@aguacongas as a quick fix you could omit the `await` part of the `ClickAsync`. Does that lead to non-falling tests?

[2022-02-16 16:51] aguacongas commented on #634
@linkdotnet Yes, it does.

[2022-02-16 16:55] linkdotnet commented on #634
I guess I found the issue. I'll make a PR for that. @egil  the issue is that in `DispatchEventAsync` we handle the Exception in `Dispatcher.InvokeAsync` but return `Task.FromException`. So the Task is officially in a faulted state... forever. But we don't want this! We introduced with #605 cases where we say: "Hey it's fine".
It only shows with `await` as awaiting a Task in a faulted state will le

[2022-02-18 08:33] egil commented on #634
Hi @aguacongas

@linkdotnet was able to find the regression and there should be a fix landing in the nightly channel. If you can try it out against your test suite, that would be great, and if everything works as expected, I will push a new minor release as soon as possible.

See https://github.com/bUnit-dev/bUnit/discussions/209 for how to try the nightly builds.

[2022-02-18 17:30] aguacongas commented on #634
@egil thanks for the update, I'll try asap

[2022-02-18 20:14] aguacongas commented on #634
@egil, @linkdotnet  I do not reproduce with 1.6.2-preview

[2022-02-28 14:00] Gambero81 opened #647 "Binding TelerikTextBox value in bUnit test"
I'm implementing an integration test with bUnit on a Blazor wasm component who use TelerikTextBox component.
I need to set the TelerikTextBox value as it can be binded to the associated component property:

Example:
razor:
`<TelerikTextBox Id="txtUserName" @bind-Value="@UserName" />`

cs:

[code]

In the test method i can find and set the TelerikTextBox value with:

[code]

but it not bind the pro

[2022-02-28 14:30] linkdotnet commented on #647
Hey @Gambero81.
I am not an expert with Teletrik but the general approach should be as following:

If you have a component like this:
[code]

With the following test:
[code]

As you can see we are leveraging the `Change` method. For your approach you could use something like that:
[code]

We need to trigger to Blazor Pipeline. In our case we do this with `Change`. Now we changed the textbox and th

[2022-02-28 14:36] TimPurdum opened #648 "Expose Identity.AuthenticationType in TestAuthorizationContext."
**Is the feature request related to a problem? Please elaborate.** Yes.
We use multiple custom `User.Identity.AuthenticationType` values, yet the one in BUnit is hard-coded to `bUnit Fake Authentication` in `FakeAuthenticationStateProvider` line 125, and is inaccessible while using the bUnit test/fakes.

**The suggested solution**
Expose `AuthenticationType` to be set in `TestAuthorizationContext`

[2022-02-28 15:22] Gambero81 commented on #647
Thanks @linkdotnet, using `Change` method it raise an exception, because the element does not have an `onchange` handler.

I solved using the `Input` method, and call the `StateAsChanged` method of the component (as `StateHasChanged` is a private method i used reflection to call it)

[code]

[2022-02-28 16:46] egil commented on #648
Hi @TimPurdum

I like your primary suggestion as it aligns with the current API, and a PR on this is very welcome.

[2022-02-28 17:02] EdCharbeneau commented on #647
@Gambero81 Have you added to the test:

- [ ] context.Services.AddTelerikBlazor();
- [ ] TelerikRootComponent

These are required for all Telerik Components to work properly

[2022-03-01 08:50] Gambero81 commented on #647
@linkdotnet yes, using `Input` method and calling `StateHasChanged` the problem is solved but i think it's not the standard way..

@EdCharbeneau yes i added `Services.AddTelerikBlazor` and `TelerikRootComponent`, this is not the problem, telerik components are recognized well

if i use

`cut.FindComponents<TelerikTextBox>().FirstOrDefault(txt => txt.Instance.Id == "txtUserName")?.Instance;`

i get

[2022-03-04 20:01] KCAndersen opened #656 "AngleSharp.Html.Dom.HtmlButtonElement.IsDiabled() appears to be incorrectly stating button is disabled after a Click() action is performed"
**Describe the bug**

The IsDisabled attribute of the IElement does not match what is seen in the rendered html. This may be more of an AngleSharp issue than a Bunit issue, but in case it can be overcome within Bunit, figured it might be worth posting. Or perhaps I'm simply misunderstanding expectations.

**Example:**
Testing this component:

[code]

With this test:

[code]

Results in this output

[2022-03-04 20:22] KCAndersen commented on #656
Whoops. The RefreshableElementCollection that comes out of sut.FindAll does not refresh by default, but apparently can with EnableAutoRefresh turned to True. This resolves my issue. Apologies for the bother!

[2022-03-04 20:22] #656 closed

[2022-03-21 15:19] SviatoslavK commented on #577
Hi Egil!
I'm working with @rmihael on the same project. Sorry for such a long reply. It's been difficult to allocate time to work on the sample project between upcoming release and the started war... Finally we did it! Please, find the sample project in the attachment
[TestExample.zip](https://github.com/bUnit-dev/bUnit/files/8316595/TestExample.zip)

[2022-03-23 16:42] pauldavis-dwe opened #661 "InvalidCastException using AddStub<T>() on a component that uses @ref attribute"
**Describe the bug**

If a component uses the @ref attribute then the AddStub<T>() method throws an InvalidCastException

**Example:**
See this repo: https://github.com/pauldavis-dwe/AtRefAddStubBug for a working example of the problem

Results in this output:

[code]

**Expected behavior:**

bUnit should stub the sub-component

**Version info:**

 - bUnit version: 1.6.4
 - .NET Runtime and Blazor

[2022-03-23 16:51] egil commented on #661
Hi @pauldavis-dwe,

This is a know limitation of the built-in stubs. In this scenario you should look at using a mocking library.
Check out the documentation for all the gory details: https://bunit.dev/docs/providing-input/substituting-components.html#creating-substitute-mock-components

[2022-03-23 19:10] linkdotnet commented on #577
I tried to reproduce your example... besides the 26 minutes of runtime (due to the 1000 elements) the tests went green:
![image](https://user-images.githubusercontent.com/26365461/159777488-202065fd-2615-4d59-afed-0a765e81c413.png)

[2022-03-24 22:43] David-Moreira opened #664 "JsInterop async execution not returning to the caller"
Hello @egil
I hope you've been well.

Now, first of all, I don't know yet wether this might be an issue with `BUnit` or on our side (`Blazorise`), I just came here asking you to share some wisdom haha.

So, a user of ours reported that a Test of his wasn't completing successfully even tough the component generates what's expected when rendering normally in a Blazor App.

When debugging the test I

[2022-03-25 09:37] egil commented on #664
Hi @David-Moreira

Are you calling `SetResult(someString)` after the `Setup<string>(...)` call? Otherwise, bUnits JSInterop will return an incomplete task.

[2022-03-25 19:21] David-Moreira commented on #664
Hello,
Don't think so... this should be what I'm calling:
![image](https://user-images.githubusercontent.com/22283161/160187526-0cbf0956-e626-469f-82cd-56292af80397.png)

I'll take a look later today when I have the time, we'll let you know the result. Thanks.

[2022-03-26 14:05] egil opened #665 "FakeNavigationManager.NavigateTo(external url) throws"
FakeNavigationManager does not allow the user to navigate to an external URL, since the validation build into NavigationManager pervents changing `BaseUrl`s.

### Discussed in https://github.com/bUnit-dev/bUnit/discussions/662

<div type='discussions-op-text'>

<sup>Originally posted by **TDroogers** March 24, 2022</sup>
Is it possible to test a NavigateTo an external url?

The following code work

[2022-03-26 14:09] egil commented on #665
I think the fix is to detect when `FakeNavigationManager.NavigateTo` gets called with an absolute URL, e.g. `https://www.example.com/foo.html`, that is different from that of the `FakeNavigationManager.BaseUri` property, and then first set `BaseUri` to that of the new url's domain, e.g. `https://www.example.com`, and then set the `Uri`. That will prevent the validation from failing.

[2022-03-26 16:00] linkdotnet commented on #665
Maybe just a small input from my side about setting the `BaseUri`.
BUnit would differ if we set the `BaseUri` From the two „real“ navigation managers.

Just imagine a user navigates away via. `NavigationManager.NavigateTo(“http://external.com“)` and is also subscribed to `OnLocationChanged`. Event where he retrieves the `BaseUri`.
In the real world we would still have our Blazor BaseUri instead of

[2022-03-26 16:58] David-Moreira commented on #664
Hello,
It worked, Awesome! I'll pass this info onto our user.

Genuine question, any reason why this isn't the default behaviour for `SetupVoid`? I had to also had .`SetVoidResult()` to the next call that returned void.
And for the one's that return a generic, is it not possible to still complete the task if the user hasn't called `SetResult(TGenericValue)` by just setting `default(TGenericValue)`

[2022-03-27 10:09] egil commented on #664
Awesome.

For `SetupVoid` it could be just set to return a completed task by default. However, that would mean it was not consistent with `Setup`, where users have to specify what the return value should be. bUnit cannot guess that for you.

Another reason not to just set a default result value is that users might want to test the rendered output of a component while it is waiting for the JSIntero

[2022-03-27 10:10] #664 closed

[2022-03-27 10:24] egil commented on #665
@linkdotnet you are right, when navigating to a different base url, then we should not raise the OnLocationChanged event.

[2022-03-27 11:30] David-Moreira commented on #664
Thank you @egil
Cheers.

[2022-03-28 16:20] egil opened #667 "Fix issues with failing test runs on Linux on GitHub actions"
A quick Google indicates this is a problem with code coverage collection.

[code]

[2022-04-02 11:36] egil opened #670 "Add .NET 7 build target to project"
Lets start building and targeting .NET 7. That will allow us to track the changes of the next version of Blazor and be able to release close to or at the same time as NET 7.

Another neat thing would be to set up a custom action that pulls the latest nightly releases of Blazor and run the bUnit verification workflow while building against that. If we discover any thing that breaks, its going to be

[2022-04-04 00:03] SimonCropp commented on #84
note that Verify.AngleSharp supports this  https://github.com/VerifyTests/Verify.AngleSharp#diff-results

[2022-04-04 04:54] hassanhabib opened #671 "FOUNDATIONS: Verify No Other Components"
Hi @egil

Just wanted to run this feature request by you. What do you think about doing the following:

[code]

The idea here is to prevent anyone from adding additional components into the rendered component if these components are not verified.

This brings us back to mocking components and verifying a component has been initialized and what functions within that component has been called - now

[2022-04-04 09:28] egil commented on #671
Hi @hassanhabib,

Interesting suggestion. I think I understand what you are saying, but I am not sure I understand the scenario fully. Can you share a minimal example of a component under test and the accompanying test you want to write that is currently not possible?

[2022-04-04 09:32] #667 closed

[2022-04-04 12:38] hassanhabib commented on #671
@egil absolutely.

There are two objectives that we can achieve with this:
- Verify no other base components has been added to a certain component.

Let's start with this one first.
Let's say I have a `StudentRegisterationComponent` which builds a form leveraging some base components such as `TextBoxBase`, `ButtonBase` and `LabelBase`.

I want to ensure in my unit tests, that the `StudentRegistera

[2022-04-04 16:45] egil commented on #671
Think I get what you are aiming at. A quick follow up question:

What is the type of `textBoxBaseComponent` and `renderedStudentRegisterationComponent` in your example above?

[2022-04-04 16:58] linkdotnet commented on #671
Can't we do this right now indirectly with `ComponentFactories`?

Something along the line like that:
[code]

[2022-04-04 17:19] hassanhabib commented on #671
@egil

the `textBoxBaseComponent` is just `TextBoxBaseComponent` inheriting from `ComponentBase` here's what it looks like:
https://github.com/hassanhabib/OtripleS.Portal/blob/master/OtripleS.Portal.Web/Views/Bases/TextBoxBase.razor.cs
And this is the markup:
https://github.com/hassanhabib/OtripleS.Portal/blob/master/OtripleS.Portal.Web/Views/Bases/TextBoxBase.razor

This `renderedStudentRegistrat

[2022-04-04 17:21] hassanhabib commented on #671
The problem with this approach is that you have to redeclare a list of `allowedComponents` when we can just rely on the ones injected into the container component.

[2022-04-04 17:39] egil commented on #671
I see a bunch of questions or things that @hassanhabib wants to achieve here. Ill try to address each:

1. **Custom assertions in bUnit:** Adding custom assertions to bUnit is not something I am keen on, unless they cannot be implemented by the user in their own assertion library. The problem with adding custom assertions is that they will only "look natural" to users whose assertion library their

[2022-04-04 18:14] hassanhabib commented on #671
@egil sounds good. thank you for your feedback/samples.

[2022-04-04 18:14] #671 closed

[2022-04-05 16:11] egil commented on #648
Fixed in commit #8bc935c.

[2022-04-05 16:11] #648 closed

[2022-04-06 18:32] #665 closed

[2022-04-06 19:21] #670 closed

[2022-04-06 19:25] linkdotnet opened #675 "Remove #pragma disable BL0007"
With dotnet/aspnetcore#670 we now target against .NET 7 (preview). .NET 7 preview 2 introduced a new analyzer (`BL0007`) which checks that component parameters should be auto-properties.
Unfortunately on Linux builds the `.editorconfig` or better the severity of that specific analyzer in the `.editorconfig` is ignored.

We can remove the `#pragma disable BL0007` from `ThrowsOnParameterSet` once th

[2022-04-06 19:58] egil commented on #577
Hi @SviatoslavK, hope everything is well.

I had a look and can confirm that there is a potential race condition here. I also have an idea for a solution, but as with all things concurrency, this isn't necessarily going to be simple, since the locks that I have in the `TestRenderer` that you see in your stack trace are there for a good reason.

[2022-04-06 20:12] egil commented on #577
Let me explain what the problem is:

In the `TestRenderer`, we currently have a lock in place to prevent test code in thread 1 from traversing it in thread 2, which can lead to other race conditions, where users are not able to get their assertions passing before the render tree changes again (e.g. if a component renders, then waits a few milliseconds, and then renders again). `FindComponents` is

[2022-04-07 06:15] linkdotnet commented on #675
I tried a repro of our `BL0007` and it seems if you force it, none of the severity settings in `.editorconfig` are taken into account.

[2022-04-07 10:32] egil commented on #675
Hmm weird, does that also happen with Windows or is it a Linux thing only?
If it is Linux only, it might be that the casing of the .editorconfig file is not what is expected there.

[2022-04-07 10:37] linkdotnet commented on #675
To be completely honest with you I am not sure what is going on. I created a small repro I want to share with the asp.net core team: https://github.com/linkdotnet/BL0007Bug

I have this issue also with other BL000X analyzer rules plus I also have it on windows machines. In bUnit we only see it on the Linux containers.

Locally `dotnet build` will also lead to the same error(s). Seems like the tool

[2022-04-07 10:38] linkdotnet commented on #675
Besides that: our first nightly [verifcation build](https://github.com/bUnit-dev/bUnit/actions/runs/2105941555) was ✔
🎉 yeah

[2022-04-07 10:53] egil commented on #675
It's just part of a standard set of coding rules related files we use at work. It should not cause problems, .editorconfig files inherits from those higher up the tree if they don't have root=true in them.

But we can remove it.

[2022-04-07 10:55] linkdotnet commented on #675
No I am totally fine with that don't get me wrong (even though the file is basically empty?).
I was just not sure if it works like `Directoy.Build.props` where the "closest" one is taking into account. You have to explicitly import other `Directoy.Build.props` to make inheritance work.

[2022-04-07 12:19] egil commented on #675
Directoy.Build.props in src and test are actually set up to inherit from the one in the root folder, but that is done explicitly and not the default.

[2022-04-08 09:28] vedion commented on #577
Hi,

We also have this problem with the tests deadlocking.

[2022-04-08 09:59] egil commented on #577
Hi @vedion, can you share a minimal example from your end that causes the deadlock? That would really help find a solution.
Also, does this happens consistently in your tests, or is it just once in a while?

[2022-04-08 10:15] vedion commented on #577
At the moment we have around 120 BUnit tests and it happens almost 50 % of the time. It happens when disposing TestContext. We haven't found a consistent way to reproduce the problem but we have come up with two workarounds:

1) Skip disposing of TestContext. Not a big issue right now to skip it, but it is not pretty.

2) When disposing "TestContext" the "TestServiceProvider.TestServiceProvider" i

[2022-04-08 11:54] egil commented on #577
Thank you @vedion. Your issue seems different than the one reported by @rmihael.

Can you share one of the tests (or a anonymized version) that fails when you do not have your workaround in place?

[2022-04-10 19:00] vedion commented on #577
Hi again,

I have not yet been able to reproduce with a simple test yet. Would it be possible to let TestServiceProvider (and also TextContext) support IAsyncDisposable so we can dispose async? That would solve our problem.

[2022-04-10 19:36] egil commented on #577
Technically there is nothing preventing it, other than it would be a breaking change (esp for TestContext). I'm not ready to move to V2, but this would definitely be something I would change.

Can you think of another change i can make that will make your hack feel less ...hacky?

[2022-04-10 19:53] vedion commented on #577
Thank you for the quick replies! It doesn't have to be a breaking change if the classes support both IDisposable and IAsyncDisposable.

[2022-04-12 00:55] github-actions[bot] opened #679 "Verification against .NET 7 nightly failed"
The nightly build failed against the nightly .NET 7 SDK. Please investigate.

## Additional information

`dotnet --version`: `7.0.100-preview.5.22307.18`

[2022-04-12 10:18] linkdotnet commented on #679
I tried to reproduce this locally (also with the preview nuget packages). Unfortunately I can't - everything is gren :D
For now maybe retriggering will solve the issue.

I thought about some improvements for the nightly job:
 1. Putting failing tests directly into this exact issue
 2. Also putting a list of all nuget packages and versions into the issue

Both can be achieved fairly okayish with me

[2022-04-12 11:02] egil commented on #679
Good ideas, but as you say it's probably mostly nice to have territory, since we can just go and inspect the workflow logs. But if you are bored then don't hold back 😉

[2022-04-12 11:22] egil commented on #679
Took a look at the output from the failed run. Seems like a whitespace/line ending mismatch, and not an actual failure for the test in question. Could be that the Blazor renderer adds different whitespace to the markup now compared to before.

It may be that if you try on Linux you see it as well on your machine (can try via WSL if you're on windows).

[2022-04-16 09:22] andersson09 opened #683 "Route parameters reading from [Parameter] attribute rather than @page"
**Describe the bug**

Adding the following parameter
`var component = ctx.RenderComponent<TestComponent>(parameters => parameters.Add(x => x.Id, "123"));`

results in ParameterView populating using "Id" from the [Parameter] attribute rather than lowercase "id" from @page.

**TestComponent.razor:**

[code]
**Version info:**

 - bUnit version: 1.6.4
 - .NET Runtime and Blazor version: .NET 6.0.101

[2022-04-16 11:22] linkdotnet commented on #683
Hey @andersson09,

I guess you are referring to the `OnParameterSet` method where your Id is passed value „123“?
Maybe can you explain exactly what the seen problem is or what would be your expected behavior?

In general the `@page` directive is meant for the Blazor pipeline. So in your case if you navigate to that page the navigation manager and the Router will take off setting those Parameters a

[2022-04-16 13:28] andersson09 commented on #683
The problem I face is that I have a base component that reads the `ParameterView `from `OnParameterSet`. The feature I'm testing has an attribute that passes the parameter name `id` lowercase. The base component cannot find `id` because bUnit populates the ParameterView with `Id` instead. This behaves differently to Blazor where the ParameterView is populated `id`.

[2022-04-16 17:24] linkdotnet commented on #683
Currently I don‘t any PC around me only mobile, so need 2 days to reproduce.
But anyway, can you share that specific code snippet?

The easiest fix on top of my head would be renaming the page to an uppercase `Id` instead of `id`: `@page “/test/{Id}“` this should at least make the entry in the `ParameterView` identical to your parameter. See [here](https://docs.microsoft.com/en-us/aspnet/core/blaz

[2022-04-18 15:18] linkdotnet commented on #683
Back at a regular PC I could verify your behavior. In `SetParametersAsync` the key gets passed as it is defined in the `@page` declaration, meaning we have `id` instead of `Id`.
If you have logic which is relying on that I would still suggest to rename in camel case (to `Id`). This will also enabled you to use `nameof(...)` to be a bit more resilient when you refactor code.

But anyway, if you nee

[2022-04-18 17:50] andersson09 commented on #683
Hey,

Thanks for investigating. Yea I have changed my parameters to pascalcase like you suggested. The issue raised was more for indicating that bUnit was behaving differently to Blazor.

Also, thanks for the alternative solution :)

[2022-04-18 18:45] linkdotnet commented on #683
Sure @andersson09. Do you want to close this issue or do you consider this a feature you want to see?

Maybe a small amendment to

The function you use "simulated" how one would construct a component and there you would use the "real" parameter-object. Like `<MyComponent Id="123"></MyComponent>`

[2022-04-19 12:37] andersson09 commented on #683
Yep, I think this is fine to close.

[2022-04-20 17:45] linkdotnet commented on #679
Since 8 days it is consistent passing. I feel like we can close this and the Blazor team might have fixed the regression on their site (if there was any at all).

[2022-04-23 16:34] FlukeFan opened #687 "Click event 'lost'"
I have observed some of our tests intermitently failing (usually a sign we're not 'waiting' for something in the UI).  However, I 'think' I've reduced this to an example that demonstrates a click-event not firing occasionally.

I've reproduced a test here:  https://github.com/FlukeFan/bUnit/commit/2be7c45b34bfdca8a626129ac5b67fa82222b971

**Example:**
Testing this component:

[code]

With this tes

[2022-04-24 16:48] egil commented on #687
Thanks @FlukeFan. I'll have to dig a little deeper before I understand what's going on. I don't see anything wrong with the code at first glance, besides the weirdness of having a for loop in a test.

[2022-04-24 17:02] #683 closed

[2022-04-24 17:16] FlukeFan commented on #687
Thanks for the update @egil.

The weirdness of the loop is because it doesn't fail on the first pass (or sometimes the second).

On our tests, we only get failures every few hundred tests - so much rarer.  It might be more idiomatic to use a ClassData attribute to run the test multiple times instead of a loop.

Cheers.

[2022-04-24 17:31] egil commented on #687
So with the test you have here it fails every time because of the loop?

With your own tests, without looping, it only happens occasionally?

[2022-04-24 17:35] FlukeFan commented on #687
@egil kind of.  The test fails if run multiple times in the same run (suggesting there's global state somewhere that's causing a problem).  If the test is duplicated like this, it also fails (but passes on the first 1 or 2 runs):

[code]

Our own tests don't loop.  However, our components are considerably more complicated than this example.  I cut everything out of our components slowly bit-by-bit

[2022-04-24 17:54] egil commented on #687
There is some shared state, the TestContext. However, it is likely that the shared state exists in the Blazor Renderer, that we might be using in a wrong way.

Anyway, thanks for your efforts in reproducing this. Will take a look as soon as possible and see what I can figure out.

[2022-04-27 17:58] egil opened #691 "Update build to get colors"
https://twitter.com/Nick_Craver/status/1517190785158070273?t=xxJmt2lgZx7q7gjmqNDa9Q&s=19

[2022-04-28 02:20] derek-baker commented on #577
Regarding the title 'Deadlock when using FindComponent(s) with WaitForX', **does this also affect the `IRenderedComponent.Find()` method?**

[2022-04-28 09:07] #691 closed

[2022-04-28 09:12] egil opened #694 "Blame when running tests might hide bugs?"
I have noticed that we get tests failing due to `blame` timeout, and that should actually only happen if a test deadlock and gets blocked, but it seems like if all tests actually run to the end.

[code]

But then, I also remember @linkdotnet mention that tests runs getting stuck when we removed it a little while back, so maybe there is something here to investigate.

[2022-04-28 09:20] egil commented on #577
@derek-baker perhaps, `Find` although `Find` does not interact with the same lock though. If you have an example of test/component you can share, preferably as minimal as possible, that would be great.

[2022-04-28 09:49] linkdotnet commented on #694
I also had this from time to time. There is a hint [here](https://github.com/microsoft/vstest/issues/2261#issuecomment-719553522)

Assert.ThrowsException<MyException>(async () => await myFunction())
Fixed by replacing to async version:
await Assert.ThrowsExceptionAsync<MyException>(async () => await myFunction())

Maybe worth to refactor some of our code like this from:
[code]

to this:
[code]

[2022-04-28 10:04] egil commented on #694
OK, that makes sense. Perhaps its actually not a problem with `blame` but with the tests as you have found.

I guess a way forward is to remove blame, fix the tests that starts blocking, and the add it in again?

[2022-04-28 10:11] linkdotnet commented on #694
Yes I'd prefer that way. Let me prepare a PR and let's run it a few times :D

[2022-04-28 12:59] linkdotnet commented on #694
I quickly tried it with `ThrowAsync` plus removing the `blame` stuff, but still it hangs forever (always only on Linux machines).
Anyway we could refactor from `Should.Throw` to `Should.ThrowAsync` but this will not fix this issue.

[2022-04-28 16:40] derek-baker commented on #577
@egil, false positive. The issue I was seeing appears to have been related to my test structure. Thanks!

[2022-04-29 08:08] vedion commented on #577
Hi,

Thank you for investigating. Yes, I think that would also work.

[2022-04-29 18:00] egil commented on #694
ahh good catch with the missing tests. its annoying it only happens in the github image/actions. do you know what test hangs?

[2022-04-29 20:59] linkdotnet commented on #694
Maybe coincidence maybe not, but only `net6.0` and `net7.0` are failing. Never saw a `netcore3.1` version of the test failing. Currently checking if I can find a `net5.0`.

[2022-04-29 22:25] egil commented on #694
Think you are on to something.

The IAsynDisposable might be the culprit. That matches somewhat with the related issue. As a quick workaround, try removing the GetAwaiter().GetResult() method calls during disposal in TextContext.

[2022-04-30 09:31] linkdotnet commented on #694
I removed `GetAwaiter().GetResult()` and also removed the `DisposeComponents` tests, but still the tests are failing.

[2022-04-30 15:22] egil commented on #694
Thanks for your efforts. It's a pain when we cannot reproduce locally. Perhaps there is a way to run GitHub actions locally that can speed this up?

[2022-04-30 18:22] linkdotnet commented on #694
I found a nice way to run github actions via docker and WSL on my local machine, but also there: Can't reproduce. I let `verify` run roughly 20 times without seeing the issue once. Back to the drawing board...or better just disabling some tests until I found the culprit.

[2022-04-30 18:43] linkdotnet commented on #694
What I also noticed it that the windows runner often times reports "successful" even though there are issues in the run:
![image](https://user-images.githubusercontent.com/26365461/166118551-4c0736d0-275e-44d7-88a8-13fcfae577f6.png)

[2022-04-30 19:16] egil commented on #694
What the...

On my phone, so just guessing, but are we doing a `dotnet test --no-build`, e.g. building before running the tests, and then skipping tests.

We're also building/running tests in release mode. That might strip out stuff or change behavior from debug mode. It's very weird we cannot reproduce locally with the same image.

[2022-04-30 19:34] linkdotnet commented on #694
At least in [verification ](https://github.com/bUnit-dev/bUnit/blob/main/.github/workflows/verification.yml)we do not use the output of the previous step:
[code]

When I reproduced locally I used exactly that line and also reproduced with the local github action. I am currently removing bunch of tests and run it again..like 10x each to see if I can boil it down...somehow.

[2022-05-01 09:23] egil commented on #694
Thanks. I think the most likely ones are some that relate to WaitFor methods or use them.

[2022-05-01 09:34] linkdotnet commented on #694
I thought so too, but then I'd expect other projects failing from time to time as well. We are using `WaitFoXXX` in every test project. Mysterious anyway.

[2022-05-01 09:53] linkdotnet commented on #694
Kind of good/bad news: I removed almost every test and now `bunit. web.tests` starts to fail. Still only for `>.net6.0`

[2022-05-02 14:29] egil commented on #694
Have you tried running in `Debug` mode? Also, if tests still fail in Debug mode, then continue with that, since that might give the runtime more information/context which will enable us to easier fund the problem.

[2022-05-02 18:01] linkdotnet commented on #694
I had a short try and it is also failing with debug. Unfortunately the stack trace does not offer much more in this case.
Funny enough the one on windows does... but not that it helps us:
[code]

What is **worse** is [this](https://github.com/linkdotnet/bUnit/runs/6259619367?check_suite_focus=true#step:8:6430):
The test was not successful and crashed but once again the windows workflow was marked

[2022-05-03 08:57] egil commented on #694
Actually that output is sort of useful, since it tells us what tests were running. Also, I did not know it was also happening on Windows, thought it was only Ubuntu.

You mentioned trying to disable parallelization. Think it might help narrow down the test(s) thats causing this. We can probably do this thrugh an `xunit.runner.json`, just have to add one to each test project.

I think it would be i

[2022-05-03 11:03] linkdotnet opened #703 "Include BenchmarkDotNet"
As discussed in #702

It is a very nice idea to have a separate project which checks the performance of commonly used functions like `RenderComponent`, `Find`, etc.

For that we can introduce BenchmarkDotNet and define some scenarios to get a better understanding where we could potentially optimize our code.

[2022-05-04 07:24] linkdotnet commented on #694
It is kind of helpful in the sense, that we see always different failing tests under "tests which run during the crash".

I tried the `parallelizeTestCollections` but still it prints multiple tests which were executed when the [test runner crashes:](https://github.com/bUnit-dev/bUnit/runs/6285548822?check_suite_focus=true#step:8:726)
[code]

[2022-05-09 10:36] #317 closed

[2022-05-09 10:40] linkdotnet commented on #317
To all who are subscribed to that topic: There will be a new nightly build coming out addressing that exact issue. From now on you can use a convenient function to setup `InputFile`:

[code]

[2022-05-09 10:49] egil opened #709 "release-preview should not run on `main` when verifications fails"
Seems there a small bug in the workflows for releasing previews. The `release-preview` workflow should NOT run if `verification` fails after a merge/push to main.

[2022-05-09 11:51] linkdotnet commented on #709
I think the problem is that we define branch and workflow_run. This is a logical or and not a logical and.
[code]

So dripping the branches should do the trick.

[2022-05-09 12:17] egil opened #710 "Blocking IAsyncDisposable services disposal dead locks"
This is based on the disussion in #577.

_The below text was originally posted by @vedion in https://github.com/bUnit-dev/bUnit/issues/577#issuecomment-1092705118_:

At the moment we have around 120 BUnit tests and it happens almost 50 % of the time. It happens when disposing TestContext. We haven't found a consistent way to reproduce the problem but we have come up with two workarounds:

1) Skip

[2022-05-09 12:23] egil commented on #710
The solution will be to not block (`GetAwaiter().GetResult()`) when disposing async services, instead:

1. have TestServiceProvider implement IAsyncDisposable. Its technically a breaking change, but its probably going to be low impact, as most users wont be using that type directly, but instead through TestContext.
2. have TestContext.Dipose(bool) first call Services.DisposeAsync() but not awaitin

[2022-05-09 12:40] egil commented on #709
Hmm not sure. We only want the release-preview workflow to run for the main branch. However, this line might be what needs some love:

https://github.com/bUnit-dev/bUnit/blob/914fa526513bc68f5f31ae3c92bc69d13888ee19/.github/workflows/release-preview.yml#L19

[2022-05-09 12:46] egil commented on #709
Hmm nope, think you are right. Found a post an stackoverflow that agrees with you.

https://stackoverflow.com/questions/62750603/github-actions-trigger-another-action-after-one-action-is-completed

also this

https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-a-workflow-based-on-the-conclusion-of-another-workflow

[2022-05-09 14:59] #710 closed

[2022-05-10 06:26] linkdotnet commented on #709
I tried to reproduce this via our normal flaky behavior if we can close this issue...and to my surprise it seems like you fixed #694 with the IAsyncDisposable. At least the tests are not failing anymore. Still surprising that I couldn't repro locally.

[2022-05-10 07:38] egil commented on #709
Hmm that would be great. It could make sense since deadlock at disposal might cause a test that actually completed to get stuck. Lucky punch 😜👊

[2022-05-10 07:39] egil commented on #709
Btw. Did change the release-preview workflow a bit to see per your suggestion. Forgot to link the commit here though.

[2022-05-10 10:42] egil commented on #710
Hi @vedion, you should have a preview release of bUnit available with a fix for your problem.

In essence, you should now be able to create your own TestContext that looks like this, if you actually need to await your `IAsyncDisposable` services's DisposeAsync methods:

[code]

(not tested code, but im sure you get the point).

[2022-05-11 05:25] linkdotnet commented on #190
@egil is this closed with #700 ?
Seems the request was tracked twice.

[2022-05-11 06:06] egil commented on #190
Technically no, but probably yes.

Can our solution for InputFile be extended to cover a native input element too?

If not, then I'm fine closing this now.

[2022-05-11 06:21] linkdotnet commented on #190
Ahhh sorry that is on my.  Well I guess there could be ways to do so, but not out of the box.

[2022-05-11 07:11] egil commented on #190
I do think that most people will use InputFile, so this can likely be closed though. That said, if there is a low hanging fruit here then let's do it.

[2022-05-11 07:38] linkdotnet commented on #190
I just fiddled around very quickly and I don't think it would be very low-hanging as we have to do stuff around the ElementReference to the `<input type="file"/>`.
At the end we would almost rebuild InputFile. Don't think it would be worth the effort.

[2022-05-11 07:51] egil commented on #190
Ok. Let's close those and leave it as is, recommend folks use InputFile.

[2022-05-11 07:51] #190 closed

[2022-05-11 14:39] anonymousStyleKiller commented on #148
Hello,
### Thank you for your work.

May I answer one question for you?
I am using _Rider_. It doesn't see the **bUnit** tests within the razor pages.
You know, how will it fix?
The screen is below...

![image](https://user-images.githubusercontent.com/55918247/167876525-fe217d54-1156-4bf8-8991-e9a9d0118a74.png)

With best wishes, Anton

[2022-05-11 15:16] egil commented on #148
Hi @anonymousStyleKiller, there is nothing bUnit can do about that unfortunately. But maybe @khalidabuhakmeh has an update on this.

Essentially, Rider needs to look at the generated .cs files from the Blazor compiler and include tests it finds in these in its discovery process.

[2022-05-11 17:05] linkdotnet commented on #709
It seems now that `release-preview` really runs on every verification run. I guess we should re-add this: `github.ref == 'refs/heads/main'`

[2022-05-12 06:19] anonymousStyleKiller commented on #148
@egil Thank you awfully for your answer

[2022-05-12 06:25] anonymousStyleKiller commented on #148
Hi, @linkdotnet, I do it, but sometimes it is uncomfortable...
Especially, when you want to start only one test. I thought that have some way to fix it.
Thank you for your answer

[2022-05-13 12:56] khalidabuhakmeh commented on #148
Hi folks, asking the team again. You can "Run Unit Tests" and the tests will be found, but I agree the authoring process could be better. Also, we're missing the gutter icons which would be nice. I'll report back with information.

![Screenshot 2022-05-13 at 08 55 38](https://user-images.githubusercontent.com/228256/168287769-b34c4e45-3438-4dbe-b41d-48f3d5c031ef.png)

[2022-05-13 18:49] vedion commented on #710
Hi again,

Sorry for the late response. It looks great, when do you expect it to be released?

[2022-05-13 19:25] egil commented on #710
Might do a release over the weekend.

Just want to be sure, did you get a chance to try the pre release that includes the bits already?

[2022-05-14 11:31] egil opened #723 "Can we simplify package management with Central Package Management?"
CPM looks like an opportinuty to clean up our .csproj and directory.build.props files, at least to some extend. https://docs.microsoft.com/en-us/nuget/consume-packages/Central-Package-Management

[2022-05-14 12:12] linkdotnet commented on #723
Nice feature. Did not know this is around.  A few things we have to consider:
 * It is only a small help in my eyes. In theory we could also now add **all** dependencies to our root `Directory.Build.props` and have the same effect with less clutter in the csproj. The rosyln compiler will remove anyway every assembly which is not used in the code anyway (via static analysis).
 * It only works on VS

[2022-05-15 10:04] egil commented on #723
If it doesnt work with Rider/the command line, then yeah, lets wait a bit with this.

[2022-05-18 11:22] linkdotnet commented on #694
I would close the issue for now. I'd also argue we will leave the `--blame` stuff inside the github actions.
If it pops up again in some configuration we have some starting point.

[2022-05-18 11:55] egil commented on #694
Agreed.

[2022-05-18 11:55] #694 closed

[2022-05-19 05:57] linkdotnet commented on #723
Just to have some documentation about our findings:
This might be something for version 2.0. Currently the support of < .net6 will block that feature.

Let's assume we want to build .net5 assembly. We can do this with everything equal or higher than the .net5 SDK, but unfortunately that does not work with running tests. The test-runner has to come from the same SDK version as the assembly under te

[2022-05-19 19:33] linkdotnet commented on #709
Think we fixed it. So I'll close this one. Let me know if there are some open points I missed.

[2022-05-19 19:33] #709 closed

[2022-05-19 23:20] egil opened #732 "Investigate using Renderer.RemoveRootComponent for disposing components"
While investigating another issue I noticed the method `RemoveRootComponent` in the `Renderer` source code (https://source.dot.net/#Microsoft.AspNetCore.Components/RenderTree/Renderer.cs,260). Its in .net 6 and later, and it seems to basically do a lot of what we want wrt. to disposing of a component under test, and could allow for more targeted disposable instead of every single rendered componen

[2022-05-19 23:36] egil opened #733 "Verification workflow: set HangDumpType=Full and save dump files after run if present"

[2022-05-20 06:20] SimonCropp commented on #577
the last time i had these kind of symptoms was on a project that was using `.GetAwaiter().GetResult()`. given buint has 16 usages, that would be the first place i would look

[2022-05-20 06:21] SimonCropp commented on #577
for context https://gsferreira.com/archive/2020/08/avoid-getawaiter-getresult-at-all-cost/

[2022-05-20 07:38] egil commented on #577
Thanks for dropping by Simon. You are not wrong, however, in this case though, it is because there is an actual `lock` statement in the `TestRenderer` that is causing the deadlock. I'm working on an alternative to archive what it is there for.

The use of GetAwaiter etc was deliberate to avoid having await/async on most statements in a bUnit test. And for the most part, it's not a problem, e.g. pe

[2022-05-20 09:45] SimonCropp commented on #577
@egil thanks for the clarification. is there anything i can help with? given we have this on my current project, perhaps i could help by running a beta nuget to verify any change?

[2022-05-20 10:30] egil commented on #577
Yeah, would love an extra set of eyes on the PR linked above. And as soon as I have something that "works in my machines/github", I'll do a nightly build that you can try out on your code base. The more that does this the better.

Ps. If you are not doing FindComponents from WaitForXxx you should not have any problems.

[2022-05-21 11:36] #577 closed

[2022-05-21 11:37] egil commented on #703
Is this not closed @linkdotnet?

[2022-05-21 11:38] linkdotnet commented on #703
Indeed!

[2022-05-21 11:38] #703 closed

[2022-05-21 11:40] egil commented on #577
Hello everyone. I think this is sorted. There are nightly builds dropping in the GitHub package repository, and I will also be pushing a nightly build to NuGet, to make it easy for you all to try it out.

[2022-05-21 11:45] egil commented on #687
Hi again @FlukeFan, sorry for the long turnaround on this. Been working on #577, which resulted in a bunch of changes, that might affect this.

Do you mind trying out the nightly build (should be on NuGet and GPR in a few minutes).

[2022-05-22 01:54] SimonCropp commented on #577
thanks. i will apply it on our codebase now, and let you know how it goes

[2022-05-24 14:48] FlukeFan commented on #687
Hi @egil,

I rebased my fork against bUnit main branch commit 010ae17ba5201fe850d837cdb1c6381d85325801

I'm still seeing the error locally in VS and "dotnet test", and in GH actions:  https://github.com/FlukeFan/bUnit/actions/runs/2378526992

Let me know if there's anything else I can do to help.

Cheers.

[2022-05-25 20:40] vedion commented on #577
It works, thank you!

[2022-05-25 21:08] SimonCropp commented on #577
yep. works for us as well

[2022-05-25 23:56] egil commented on #687
Hi again @FlukeFan,

I think I managed to find the problem. The reason why you see the random failures is because when you issue a `Click()` method call, bUnit traverses the DOM from the element that was clicked up to the top of the DOM tree, and clicks all the other elements above it, if they have onclick even handlers attached to them.

Normally that works without a problem, but if the renderer

[2022-05-26 11:57] #687 closed

[2022-05-26 12:03] #733 closed

[2022-05-26 12:11] egil commented on #687
Hi all, there should be a preview release hitting NuGet.org soon, please take it for a spin on your code base and report back.

@SimonCropp, @rmihael, @vedion, if you dont mind giving this latest preview a go too, that would be great!

[2022-05-26 17:51] egil opened #738 "Move IDiff assertions out of bUnit into own library"
The built-in IDiff assertions should not be part of the bunit.web package, as their domain language is Shouldly specific, and not broadly applicable/aligned with other assertions libraries.

This superseeds #420.

[2022-05-26 17:51] #420 closed

[2022-05-26 17:51] egil commented on #420
Assertions like this are going to be moved out of bUnit and should exists in separate libraries.

[2022-05-26 17:53] egil commented on #84
Superseeded by #738

[2022-05-26 17:53] #84 closed

[2022-05-26 18:02] egil opened #739 "Shared dispatcher/synchronization context with Renderer"
**Motivation:**

Tests should be deterministic, and one of the biggest challenges with that is that the Renderer can asynchronous (re)render components while test code is being executed.

This can lead to subtle bugs, e.g. where a `cut.Find("button").Click()` results in the button being found and having a event handler attached when `Find` is executing, but when `Click` starts running, that event

[2022-06-06 15:05] FlukeFan commented on #739
Not sure if this is related to #687 or not, but I do believe the tests should wait for the render to complete.

My ideal scenario would be to not have the "wait for" APIs at all, but instead, make each call only return once the handlers/rendering are complete.  e.g.,

[code]

My understanding is that I can already call `.ClickAsync()` ... it's just the `RenderComponentAsync<T>()` that's missing.

[2022-06-06 15:24] FlukeFan commented on #739
My thinking is that that should be the exception, not the rule.  (i.e., what you have now).  Not allowing the async-style testing forces the tests to handle scenarios that they are not interested in.  (i.e., forcing the test author to figure out when to use "wait for" APIs, and when they need to use InvokeAsync().)

Note, that I would imagine that even though the test doesn't continue until the re

[2022-06-07 11:17] egil commented on #739
bUnit uses Blazor's renderer under the hood, and have to play by its rules. That means that any time an async method is hit during a render of a component, the render is reported as "completed" to the caller, and then the continuation of that async method is scheduled for a later render. So `RenderComponentAsync` just wont make a difference unfortunately.

It maybe that the sync event handler trig

[2022-06-07 13:41] linkdotnet opened #747 "Make @bind-value easier to setup in non-razor syntax"
# Motivation

Components, especially form-based controls like `InputText`, `InputDate`, ... are often used like this:

[code]

For a test we have to setup the following 3 properties to make it work:
 * `Value`
 * `ValueChanged`
 * `ValueExpression`

If a user uses the razor syntax it will work out of the box like this: `Render(@<InputText @bind-Value="myProp"></InputText>);` but it will not work w

[2022-06-07 14:29] linkdotnet commented on #747
Your "good enough" is better for sure.

I would not go with a 2nd or even 3rd parameter as it defeats the purpose. We can always derive from `p.Value` that there are these 3 objects involved (`Value`, `ValueExpression` and `ValueChanged`).

But maybe you are right and it is totally enough to extend the documentation how to setup two-way bindings.
Then we don't have to think around all the corner c

[2022-06-07 16:48] egil commented on #747
Not sure I understand. How would we derive what the base parameter is in a pair/treble (e.g. `Value`, `ValueChanged`)? A component could easily have multiple sets of these, e.g. `ValueFoo` and `ValueBar` that each have their sibling `ValueFooChanged` and `ValueBarChanged`.

I think that is probably a good first step 🙂. Also perhaps a section/recipe on how to test InputXXX components from the Blazo

[2022-06-07 17:23] linkdotnet commented on #747
Yeah sorry we need 2 parameters. The `Expression` and the initial value.

If a user does the following:
[code]

We know to do this internally (of course via Reflection):
[code]

Of course we would have to throw an exception in this case: `RenderComponent<Foo>(p => p.Bind(s => s.Bar, "const"));` because constant expression don't make sense.

The user has multiple `@bind`'s? No problemo:
[code]

The

[2022-06-08 12:14] toniarnold opened #749 "Changing a DynamicComponent type should not null out the ReferenceCaptureId of other elements"
**Describe the bug**

When a Razor component contains a `DynamicComponent` and its type gets changed in a click event, other elements with `@ref` element references lose their `ReferenceCaptureId` and they get rendered as empty `blazor:elementReference=""` (not necessarily all other elements, sometimes just some of them).
When the exact same component is rendered in a full Blazor Server applicatio

[2022-06-08 12:15] egil commented on #747
Is that possible? I would love to see a prototype of it.

[2022-06-08 12:24] egil commented on #749
Hi @toniarnold, thanks for reaching out!

I remember looking at this previously a few years ago, and I think it is a limitation we cannot get around until we implement #48, which is something I want to attempt for v2.

The problem is that the Blazor renderer does not provide a value for `@ref` on re-renders when the element does not change, and we currently do not have a way to keep track of that

[2022-06-08 12:27] egil commented on #749
Btw. thumbs up for a thorough crafted issue and PR. Its much appreciated!

[2022-06-08 12:35] linkdotnet commented on #747
I will give it a shot

[2022-06-08 18:05] linkdotnet commented on #747
I fiddled around and have a first idea.

The usage would be as follows:
[code]

Here the rough implementation:
[code]

The problem is when passing in primitive / immutable types like `string`, `int`, ... as I can't capture the reference via a lambda from an `Expression<Func<TValue>` I don't have a chance to easily modify them.
So the test fails reporting that `bindTarget` is still "target" instead

[2022-06-08 18:11] egil commented on #747
Yeah, I think you will see that issue with all pass-by-value types.

Still think the best we can do is something like this:

[code]

[2022-06-09 14:55] springy76 opened #751 "ComponentParameterCollectionBuilder.Add() for EventCallbacks doesn't support async callbacks with input"
While there are several overloads of the `Add()` method having `Func<Task> callback` parameter, the ones accepting `Func<object, Task> callback` or `Func<TValue,  Task> callback` are just missing - the non-async versions using `Action<object> callback` and `Action<TValue> callback` exist, though.

[2022-06-13 17:58] egil commented on #751
Hi @springy76, can you share a bit more about your use case? In what scenario do you need to perform an async operation on an event callback in your test code?

[2022-06-14 08:22] springy76 commented on #751
I'm testing some basic components like async-loading data visualizers and buttons (executing async code) which must be absolutely non-reentrant even when using Blazor-server.

There already is async support, but none of the method transports TValue of EventCallback<TValue> for example MouseEventArgs where I want to access/log the details variable.

[2022-06-14 13:23] springy76 commented on #751
This extension method - copied from similar method in `ComponentParameterCollectionBuilder<TComponent>` itself - solved my problem:

[code]

[2022-06-14 14:38] egil commented on #751
Thanks @springy76. I would still like to see a test where you use it. We can certainly add a bunch more overloads, just want to make sure the I have use cases for them.

[2022-06-14 15:33] springy76 commented on #751
In short/abstracts I both need the values the EventCallbacks receive from the component in order to apply assertions on them, and also simulate fake work by returning `Task.Delay()` (real services used by the real event handlers would call REST or SQL services) so I can validate the component is rendering proper in-progress UI and also denies concurrent attemps of starting the same work.

Comparin

[2022-06-14 15:50] linkdotnet commented on #751
Maybe just my 2 cents to the whole topic, regardless whether or not the new API is introduced.

Imagine you have the following component:
[code]

This is testable as of today:
[code]

Now also consider: Do you really want the behavior your posted before? You are kind of bound to the structure and don't test necessary **observable** behavior. Changes in your DTO or data you are passing around can m

[2022-06-15 12:46] springy76 commented on #751
It's not about UI/input/form validation but validation=unit-testing (=asserting) that some events transport the right data (not string specific) - and yes, the situation is comparable to `OnInitializedAsync` where intermediary renders happen while async code is still executing.

[2022-06-16 17:15] egil commented on #739
@FlukeFan Turns out was not correct. At least in .NET 6 and later, it is possible to get a task back from the Blazor renderer that will not complete before there are no unfinished tasks in the render pipeline. Feel free to jump in on the discussion in #757.

[2022-06-17 15:21] oatsoda opened #760 "Test Hangs in FileUpload"
**Describe the bug**

Running a Test which Uploads a file, and which that upload handler displays a Blazored.Modal is hanging.

**Example:**
See attached sample project.

The `OnInputFileChange` of the `InputFile` simply `await`s a `Modal.Show<T>()`.

The test is using the [InputFileExtensions.UploadFile](https://github.com/bUnit-dev/bUnit/blob/main/src/bunit.web/Extensions/InputFile/InputFileExte

[2022-06-17 15:25] oatsoda commented on #760
I tried creating an Async version of the `InputFileExtensions.UploadFile` method, to remove the `.GetAwaiter().GetResult()` just in case this was causing thread deadlocking, but it didn't solve the problem.

[2022-06-17 17:34] linkdotnet commented on #760
Hey @oatsoda

That is a really tough one ;). Anyway thanks for providing the feedback. I do have a hunch what is going on here and it could be related to how the ModalDialog works.

[code]

[`Modal.Result`](https://github.com/Blazored/Modal/blob/97f2b35dd27140f92513310bf9296aee8a33c470/src/Blazored.Modal/Configuration/ModalReference.cs#L30) return the `Task` object from a `TaskCompletetionSource`,

[2022-06-19 14:28] linkdotnet opened #761 "Using RenderFragment in conjunction with @bind directive will throw exceptions"
# Description
When creating a two-way binding between in parameter and a variable in razor-syntax, the EventDispatcher will throw an `InvalidOperationException` with the following message:

# Code to reproduce:
[code]

# Root cause
The reason is that the @bind directive uses `this` as `Receiver`. That leads to the problem because the test itself is created by the test runner and not Blazor. Theref

[2022-06-20 09:54] oatsoda commented on #760
Thanks for the reply @linkdotnet

TaskCompletionSource isn't something I am hugely familiar with.

It's interesting that the very last sentence in that article suggests that you should always set `RunContinuationsAsynchronously`

![image](https://user-images.githubusercontent.com/3919587/174576456-80cf389c-40d8-4188-876c-76a5d0f708b2.png)

[2022-06-20 10:00] oatsoda commented on #760
Ah yes - it would seem so according to David Fowler's async guidelines:

https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#always-create-taskcompletionsourcet-with-taskcreationoptionsruncontinuationsasynchronously

[2022-06-20 10:18] egil commented on #761
Hmm I am pretty sure I've done this in razor tests before. Does this also happen when the test component inherits from `TestContext`.

[2022-06-20 11:27] egil commented on #751
@linkdotnet I think this is safe for us to add. It is basically a bunch of additional `Add` methinds in `ComponentParameterCollectionBuilder`. Do you have any objections or concerns?

[2022-06-20 11:29] linkdotnet commented on #751
Absolutely fine. Go for it ;)

[2022-06-20 11:32] linkdotnet commented on #761
Good point. It does not happen when inheriting from `TestContext`.

[2022-06-20 11:50] github-actions[bot] opened #765 "Back merge from main to v2 failed"
The back merge from main to v2 failed. Please investigate the GitHub Action and resolve the conflict manually.

[2022-06-20 11:51] egil opened #766 "Create mocking abstraction for JSInterop"
Lets investigate creating a "mocking" abstraction for JSInterop, such that 3rd party mocking libraries can be used instead of having a custom mocking library built into bUnit for JSInterop.

The idea is to create an set of abstractions (interfaces) that e.g. a bunit.jsinterop.mock.moq can implement, and utilize `Moq` under the hood.

The reason for having an abstraction is because bUnit itself nee

[2022-06-20 11:54] egil commented on #751
Yes. I will leave this here as "up for grabs" for now.

[2022-06-20 12:00] egil commented on #761
Ok, that's what I thought. I think that a test component basically has to inherit from something else than the default ComponentBase to make this work.

Either way, I think this is more of a documentation task. I think we should update pages like https://bunit.dev/docs/providing-input/passing-parameters-to-components.html to default to showing `TestContext` being inherited by the test class, and h

[2022-06-20 14:24] oatsoda commented on #760
I think you can, for now - I assume that the bUnit `TaskCompletionSource`s aren't causing this problem?

[2022-06-20 15:06] #760 closed

[2022-06-21 18:13] jimitndiaye opened #768 "RenderComponent throws unexpected error for component rendered using RenderTreeBuilder"
**Describe the bug**
When rendering a component via bUnit I get an error but when rendering in Blazor (both Server and WASM) the same component works fine.

**Example:**
A stripped down (only dependency is MudBlazor) version of the component is defined below:
[code]

With this test:

[code]

Results in this output:

[code]

**Expected behavior:**

The test should pass without error.

**Version inf

[2022-06-21 18:40] linkdotnet commented on #761
To a certain degree the documentation urges you to inherit from `TestContext` already.
I'd like to follow up in two ways:
1. Explicitly stating, if you want to use `@bind-Value` you **have to** inherit from `TestContext`
2. As you proposed, we can change the documentation in the way that we always inherit from `TestContext` in almost all samples. Basically leading by example would be the idea.

Wh

[2022-06-21 19:21] egil commented on #761
I don't think "have to" inherit from TestContext, just not ComponentBase.

Otherwise, I agree.

[2022-06-21 19:29] egil commented on #768
Thanks @jimitndiaye. We'll investigate further and get back to you.

[2022-06-21 19:36] jimitndiaye commented on #768
@egil Thank you.
I'd like to add that doing the exact same component described above but in razor works. The following razor syntax is functionally equivalent to to what's going on in the component above:
[code]

[2022-06-21 19:41] egil commented on #768
Wait, the razor version works?

That's surprising. Have you looked at the code the Blazor/Razor compiler generates from the razor version to make sure they are 100% the same?

[2022-06-21 19:42] jimitndiaye commented on #768
@linkdotnet your interpretation of that line of code isn't quite accurate. The code sets the ```ChildContent``` property to a ```RenderFragment```, not ```Type```. Like I said, the code actually works at runtime and renders the component indicated (in the test it is a MudTextField)

[2022-06-21 19:53] jimitndiaye commented on #768
@egil The razor version I posted above uses the built-in DynamicComponent and outputs the following render code:
[code]

[2022-06-21 19:57] jimitndiaye commented on #768
@egil no the razor version works in both. It's the code version that works in Blazor but not in bUnit.

[2022-06-21 20:00] egil commented on #768
Like I mentioned on Gitter, much of the code in Htmlizer is lifted from Blazors prerenderer logic, but we might need to upgrade to a newer version.

[2022-06-21 20:04] jimitndiaye commented on #768
Yea I just found it interesting that functionally identical code behaves differently in bUnit. If you run either version (code or razor) in Blazor you'd see the the output is identical.

[2022-06-21 20:09] egil commented on #768
Me too. Just sharing that detail from our Gitter conversation with Steven.

But we also need to make sure the two are actually functionally the same, or rather, they do not seem to be, since they behave differently, which by definition means they are not. But it's interesting none the less.

[2022-06-21 20:11] egil commented on #768
Btw. Here is the original code for DynamicComponent. https://source.dot.net/#Microsoft.AspNetCore.Components/DynamicComponent.cs

[2022-06-21 20:12] jimitndiaye commented on #768
@egil yea I borrow quite a lot of code from that in the above component.

[2022-06-21 20:14] jimitndiaye commented on #768
The code inside this RenderFragment delegate is pretty much a lift from the Render function in DynamicComponent:
[code]

[2022-06-21 20:16] jimitndiaye commented on #768
And that part is the only difference between the code version and the razor version - the code version just in-line's the Render function from DynamicComponent while the razor version just calls DynamicComponent to do it instead.

[2022-06-21 20:17] jimitndiaye commented on #768
You get the error in that section where it's checking if Parameters is null. If not null you get the error. If null or empty you don't get the error.

[2022-06-21 20:37] linkdotnet commented on #768
For future reference the current version of the HtmlRenderer in the aspnetcore repo: https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.ViewFeatures/src/RazorComponents/HtmlRenderer.cs

there are some smaller changes since the original version. On first sight nothing exciting. Will have a look tomorrow. We also made changes on our own, even though I don’t think they changed anything in the

[2022-06-24 03:32] cysnet opened #771 "when use JSInterop to mock js operation, the test will be blocked"
bUnitVersion: 1.7.7 -  1.9.8

when use JSInterop to mock js operation, the test will be blocked.
![image](https://user-images.githubusercontent.com/35944271/175456314-def07a60-b318-42b0-968e-f20bbbadb3b4.png)
![image](https://user-images.githubusercontent.com/35944271/175456383-0b741917-0c91-4268-843d-9327df003e8b.png)

razor code as below

[code]

[code]

test code as below
[code]

[2022-06-24 10:07] egil commented on #771
Looks like you are missing a SetVoidResult() call after your SetupVoid call, e.g.:

[code]

If you do not do this, the returned task you await in your component will never complete.

[2022-06-24 12:00] #747 closed

[2022-06-24 16:47] egil commented on #771
Ill convert this to a discussion question and close this issue.

[2022-06-24 20:04] linkdotnet commented on #768
I found the issue. Very easy to miss:

[code]

The reason is simple: You use the wrong object / builder ;)
Using `builder` instead of `childContentBuilder` inside your lambda will for sure result in invalid HTML ;)

[2022-06-24 20:38] linkdotnet commented on #768
I would close the issue for now. If you have further questions let us know.

[2022-06-24 20:38] #768 closed

[2022-06-25 06:27] egil opened #774 "Investigate .NET 7 @bind get/set/after modifiers"
There is a new feature coming in in .NET 7 related to `@bind` that we might need to update bUnit to support, more details here: https://github.com/dotnet/aspnetcore/issues/39837.

[2022-06-25 08:13] linkdotnet commented on #774
Ahh nice. As this is merged it should be included in the nightly builds, so we can check easily what is done under the hood.

TBH: I am not sure where `@bind:after` differs from `OnParametersSetAsync`.

[2022-06-25 08:24] egil commented on #774
I haven't deep-dived into this feature yet either.

[2022-06-25 09:02] linkdotnet commented on #774
I just checked out the [latest nightly ](https://github.com/dotnet/installer#installers-and-binaries)and I don't think the compiler part is in yet (was merged 4 days ago). I set a breakpoint  and console output in the after part and never saw any of it.

Given the example in the PR my output is this:
[code]
When checking [this](https://github.com/dotnet/razor-compiler/pull/70) the expected outcome

[2022-06-25 13:19] linkdotnet commented on #760
Sorry for the late answer. I know I brought up that topic, but in that particual instance no `TaskCompletionSource` is involved.

[2022-06-27 17:26] otori opened #776 "JSInterop.VerifyInvoke wrong number of calls in Error-Message"
**Bug Description**

Using `_ctx.JSInterop.VerifyInvoke` I can test wether a certain JS-function has been invoked `calledTimes`-times.
If the assertion fails, the displayed actual number of calls might be wrong.

**Example:**

In the following Dummy-Test the function `FuncA` is invoked 3 times, the function `FuncB` is invoked 2 times.
I verify wether `FuncA` has been invoked 2 times, hence the tes

[2022-06-27 18:46] linkdotnet commented on #765
You rebased the `v2` branch, therefore I will close this issue.

[2022-06-27 18:46] #765 closed

[2022-06-27 19:26] #776 closed, assigned to nobody

[2022-06-27 19:26] github-actions[bot] opened #778 "Back merge from main to v2 failed"
The back merge from main to v2 failed. Please investigate the GitHub Action and resolve the conflict manually.

[2022-06-27 19:46] linkdotnet commented on #778
Tried to force push the rebased branch but `v2` is protected as well.

[2022-06-27 23:55] egil opened #780 "Not setting event type by default"
In the latest version of Blazor E2E tests, the [KeyPressEventComponent](https://github.dev/dotnet/aspnetcore/blob/7abc99fced98d6e08fdca7b804278d39951c1cd9/src/Components/test/testassets/BasicTestApp/KeyPressEventComponent.razor#L19-L20) expects the event `onkeypress` to be listed as `keypress` in `KeyboardEventArgs.Type`.

I think bUnit should set it automatically for the user in the EventDispatch

[2022-06-28 05:59] linkdotnet commented on #780
Hmm given that it is [deprecated](https://www.w3.org/TR/DOM-Level-3-Events/#event-type-keypress) and `type` seems to be always "keypress", we wouldn't bother anyone with the changed logic.

I am really neutral on this one, as I don't see any harm but also not much gain :D

[2022-06-28 07:38] egil commented on #778
Two days ago i did the following on my machine that did not require a force push:

- checkout main and pull
- checkout V2 and rebase on main
- pull V2 from origin into V2 with rebase
- push to origin V2

[2022-06-28 07:40] egil commented on #780
Interesting. My approach is more that we should be consistent with what Blazor does "in production", even if that's not how things are supposed to be.

[2022-06-28 07:47] jimitndiaye commented on #768
@linkdotnet good catch! Can't believe I missed that.

[2022-06-28 07:49] egil commented on #679
Fixed issue with failing to complete due to trying to run nunit.web.testcomponents.

[2022-06-28 07:49] #679 closed

[2022-06-28 07:55] linkdotnet commented on #778
Shouldn't this introduce merge commits? And then it would explain the behavior we see.

[2022-06-30 06:53] linkdotnet commented on #778
I quickly checked the git graphs: This is the current situation between `main` and `v2`
<img width="494" alt="image" src="https://user-images.githubusercontent.com/26365461/176611329-c8442a2f-de71-47b8-87db-81ea42e1ca06.png">

With a "hard" rebase and force-push I'd suspect a graph which would look like this:
<img width="724" alt="image" src="https://user-images.githubusercontent.com/26365461/1766

[2022-06-30 09:30] linkdotnet commented on #780
Is this something Blazor does or the Browser?

[2022-06-30 13:23] egil commented on #780
Their e2e would blow up if they didn't, so I assume so.

[2022-07-05 01:05] github-actions[bot] opened #788 "Verification against .NET 7 nightly failed"
The nightly build failed against the nightly .NET 7 SDK. Please investigate.

## Additional information

`dotnet --version`: `7.0.100-preview.7.22377.5`

[2022-07-06 20:57] #761 closed

[2022-07-09 21:59] #778 closed

[2022-07-12 18:37] mycarrysun commented on #153
Does anyone know how to go from IRenderedFragment to IElement? Trying to assert css styles and `ComputeCurrentStyle` only exists on `IElement`

[2022-07-15 05:33] linkdotnet opened #798 "Investigate QuickGrid in .NET7"
With the ASP.NET Core 7 Preview 6 announcements they also introduced QuickGrid as an external package.  Even though this is not a first class citizen directly inside aspnet chances are lots of people will use it as a lightweight alternative to full blown grids.
Currently it is flagged experimental. We should have an eye on that and make it was to setup in bUnit if it needs further setup.

Article:

[2022-07-17 07:22] egil commented on #798
Yeah, I was actually thinking of asking Steve if he wants a PR with bUnit tests for it. Don't think there is much JSInterop in there besides an init call, so should not be hard to support.

[2022-07-17 11:54] linkdotnet commented on #798
No you are right basically 2 to 3 Js calls, see here:

https://github.com/aspnet/AspLabs/blob/main/src/QuickGrid/src/Microsoft.AspNetCore.Components.QuickGrid/QuickGrid.razor.cs#L193

As this is an external package we don’t want to have this dependency in bUnit itself.
I think a good example with explanation in the docs will be the way to go, what do you think ?

[2022-07-17 14:02] egil commented on #798
I think a section in the docs about how to test a component that uses the QuickGrid component might be enough. My current thinking is that bUnit should not reference the QuickGrid package. If its turns out to be very complex to test with the QuickGrid component, then we could create a QuickGrid.bUnit package that folks can install.

[2022-07-23 16:24] linkdotnet commented on #774
Just a had a small look into that feature. And for `bind:after` basically we could extend our already existing `Bind` method with optional overload where the user can pass in after action. That is more than trivial.

I would make a small PR for that. That tackles the problem at least to some extend. Is it fine if I make the PR targeting `v2` and we back-port if necessary? The `get` and `set` part

[2022-07-23 18:34] linkdotnet commented on #774
After investing further: I am not sure if there is anything to do for us. This is a pure compiler / consumer feature. Nothing for anyone to implement.

Even if we have a person offering a component with `@bind` then there is nothing to implement to make `@bind:after` work. So if we have something like this:
[code]

With a consumer like that:
[code]

Then, as Todd Howards would say: "It just works"

[2022-07-24 08:29] linkdotnet opened #804 "Allow cancellation of navigation with bUnits NavigationManager"
With the recent merge of this PR: https://github.com/dotnet/aspnetcore/pull/42638 (here the issue which tracks the topic: https://github.com/dotnet/aspnetcore/issues/42877) users can intercept the `NavigationManager` and prevent redirects. To make it work we have to add some logic in the [`NavigateToCore`](https://github.com/bUnit-dev/bUnit/blob/main/src/bunit.web/TestDoubles/NavigationManager/Fak

[2022-07-24 08:39] egil commented on #774
Great work. If it just works then lets close this for now. If it turns out there are corner cases we need to handle, it can always be reopened.

[2022-07-24 11:21] #774 closed

[2022-07-24 11:43] linkdotnet commented on #788
Seems like `InvokeUnmarshalled` is [obsolete now](https://github.com/dotnet/aspnetcore/blob/main/src/JSInterop/Microsoft.JSInterop/src/IJSUnmarshalledRuntime.cs#L20).

[2022-07-27 16:18] rafaelf82 commented on #122
I just came across this issue, trying to debug an async call is impossible because wait doesn't work, it fails before we have time to step through the async method.

What would be the recommended way to debug then?

[2022-07-27 16:45] egil commented on #122
During debugging timeout is changed to "infinite".

[2022-07-28 15:42] chadmobrien opened #807 "RenderedFragmentInvokeAsyncExtensions.InvokeAsync causes target Fragment to be disposed"
Upgrading bUnit from 1.3.42 -> 1.9.8, I observed that a unit test calling RenderedFragmentInvokeAsyncExtensions.InvokeAsync(() => targetFragment.InvokeAsync()), causes the targetFragment to become disposed.

The targetFragment is within a ParentFragment rendered in "RenderComponentInTelerikRoot". The ParentFragment is still rendered and available. The code also remained unchanged with the exceptio

[2022-07-28 16:42] linkdotnet commented on #807
Hey @chadmobrien,

by any chance do you have a small and reproducable example (component under test as well as the test itself)?
That would be very awesome and handy.

[2022-07-28 17:12] chadmobrien commented on #807
Unfortunately, the development source is on an internal network enclave, I cannot provide the source. I'll see if I can recreate a similar behavior outside of the project I work on. Is there any additional information I might be able to provide you?

[2022-07-28 17:20] linkdotnet commented on #807
A small reproducible example is all we need :)
Thanks for your effort’s

[2022-07-29 05:36] egil commented on #788
Good catch. Guess we don't have that option, so a suppression is in order.

[2022-08-03 05:54] #788 closed

[2022-08-04 01:13] github-actions[bot] opened #823 "Verification against .NET 7 nightly failed"
The nightly build failed against the nightly .NET 7 SDK. Please investigate.

## Additional information

`dotnet --version`: `7.0.100-preview.7.22377.5`

[2022-08-04 09:02] #823 closed

[2022-08-06 07:29] linkdotnet commented on #798
I wanted to tackle this and create a small section in the docs, but the alpha is really "alpha". For me the code snippets from the page are not working (getting compiler errors). Even after fixing them I get a blank screen. The grid element is in the DOM, but nothing gets displayed.

Lets at least wait until that goes into beta / RC before we tackle that. Right now the QuickGrid also doesn't get a

[2022-08-10 09:22] linkdotnet opened #829 "Pass state using NavigationManager"
With the recent release of .net7-preview7 a new feature was introduced to pass state via the `NavigationManager`. [Here](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-7/#pass-state-using-navigationmanager) the announcement on the official website.

If we have a component like that:
[code]

With a different component navigating to said component:
[code]

A test coul

[2022-08-10 09:59] linkdotnet commented on #829
Let me check that once more, but the given test above is failing at the moment which would indicate it is not really working.

[2022-08-10 12:02] linkdotnet commented on #829
Sorry you are right it is working... I just don't know why the first test is failing (as described in the original message).

[2022-08-10 12:02] #829 closed

[2022-08-10 12:06] egil commented on #829
No worries. Thanks for investigating this.

[2022-08-10 12:07] egil commented on #829
Still think its relevant to add the state to `NavigationHistory` entires.

[2022-08-10 12:09] linkdotnet commented on #829
That is a good point, but let's track that with a different issue.

[2022-08-10 12:11] linkdotnet opened #831 "State passed should be stored in NavigationHistory"
Follow up to #829:

With the recent release of .net7-preview7 a new feature was introduced to pass state via the `NavigationManager`. [Here](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-7/#pass-state-using-navigationmanager) the announcement on the official website.

Our `NavigationHistory` should also persist that change so that users have the possibility to asse

[2022-08-10 12:58] linkdotnet commented on #831
That might be a bit tricky in `v1`.
We are using `NavigationHistory` from ASP.NET Core itself, thus making it difficult to extend the type itself.
The only way is (like we had prior .NET6) to have our own representation. That would be breaking change and considerable for `v2`.

[2022-08-10 13:17] egil commented on #831
Pretty sure we are using [NavigationHistory](https://github.com/bUnit-dev/bUnit/blob/main/src/bunit.web/TestDoubles/NavigationManager/NavigationHistory.cs) from bUnit.

[2022-08-10 13:19] linkdotnet commented on #831
Yes but only for NET50 and lower: https://github.com/bUnit-dev/bUnit/blob/main/src/bunit.web/TestDoubles/NavigationManager/FakeNavigationManager.cs#L35

[2022-08-10 13:42] linkdotnet commented on #831
Excuse me, you are right. Really not my day today.

[2022-08-10 13:57] linkdotnet commented on #831
Well in that case it is already set and I close the feature request.

`navigationManager.History.First().Options.HistoryEntryState` holds this information already.

[2022-08-10 13:57] #831 closed

[2022-08-10 14:07] egil commented on #831
We're on a roll today ;)

[2022-08-10 14:10] linkdotnet commented on #831
Well thanks for putting it so positively:)

[2022-08-13 01:00] github-actions[bot] opened #836 "Verification against .NET 7 nightly failed"
The nightly build failed against the nightly .NET 7 SDK. Please investigate.

## Additional information

`dotnet --version`: `7.0.100-preview.7.22377.5`

[2022-08-13 08:06] linkdotnet commented on #836
New obsolete stuff:

[code]

[2022-08-17 06:19] linkdotnet opened #838 "Add `MovementX` and `MovementY` to relevant `MouseEventArgs`"
`.net7.0-preview7` introduced two new properties on the `MouseEventArgs`: `MovementX` and `MovementY` ([API diff](https://github.com/dotnet/core/blob/main/release-notes/7.0/preview/api-diff/preview7/Microsoft.AspNetCore.App/7.0-preview7_Microsoft.AspNetCore.Components.Web.md), [current main](https://github.com/dotnet/aspnetcore/blob/main/src/Components/Web/src/Web/MouseEventArgs.cs#L59)).

I tried

[2022-08-17 16:52] egil commented on #838
If we add it to one of the handler trigger methods with all the default arguments, then we should for consistency sake add it to all.

For now, it's a nice to have. Users that want to set these can use the handler trigger method that takes an MouseEventArg as input.

[2022-08-17 19:55] linkdotnet commented on #838
Labelled it as „good first issue“.

[2022-08-19 12:48] #836 closed

[2022-08-30 23:32] robertmclaws opened #847 "FakeNavigationManager can't be used in non-render scenarios"
**Describe the Bug**

My company ships a product called Breakdance, which is a unit testing framework that (among other things) integrates with Microsoft `IHost` model to let you do cleaner unit testing that involves Dependency Injection.

We also ship a product called BlazorEssentials, which (among other things) provides a robust MVVM framework for Blazor WebAssembly.

We recently updated our Bre

[2022-08-30 23:45] robertmclaws opened #848 "bUnit's ServiceProvider API surface is missing `GetScopedService<T>()`"
Describe the Bug

As I mentioned in #847, our product added the ability to be a FallbackServiceProvider for bUnit.

The problem now is that, your IServiceProvider implementation is missing the ability to get Scoped services in a way that also tries to pull them from the failover ServiceProvider. My existing testing codebase has a number of scoped services that fail to resolve after we switched to

[2022-08-31 10:52] egil commented on #847
Hi @robertmclaws,

Admittedly we never considered users would use our FakeNavigationManager without a TestContext. If I understand your request correctly, you want all the functionality, but only perform the raise the `NotifyLocationChanged` event inside the renderers dispatcher if one is available. Otherwise just do it without?

[2022-08-31 11:00] egil commented on #848
Hi Robert,

I am not sure I understand what we can change.

Our [`TestServiceProvider`](https://github.com/bUnit-dev/bUnit/blob/main/src/bunit.core/TestServiceProvider.cs#L93) implements `IServiceProvider`, which only has a single method, [`GetService`](https://source.dot.net/#System.ComponentModel/System/IServiceProvider.cs).

If a service is not found, it tries to find it in a fallback service p

[2022-09-05 01:22] github-actions[bot] opened #850 "Verification against .NET 7 nightly failed"
The nightly build failed against the nightly .NET 7 SDK. Please investigate.

## Additional information

`dotnet --version`: `7.0.100-rc.2.22477.20`

[2022-09-05 14:03] KristofferStrube opened #852 "`IWebAssemblyHostEnvironment` Test Double"
The DI container in Blazor WASM exposes an `IWebAssemblyHostEnvironment` by default.

**The suggested solution**

I suggest that we supply a very simple Test Double for it and auto-register it in the `TestContext` so that people don't have to do it themselves if they inject it through DI in their components.

**Describe any alternative solutions**

This is only true for Blazor WASM and not Blazor

[2022-09-05 16:43] egil commented on #852
Hi @KristofferStrube, that makes sense, feel free to submit a PR on this if you have the time.

Before we go further though, let's thing through the design.

What should the properties on the Interface return in our double, and should they be settable or just hardcoded?

[2022-09-05 16:52] linkdotnet commented on #852
What might makes sense is to set the BaseUri to localhost as we do the same in the NavigationManager. Besides that it would be really interesting to know what is your use case?
my guess is to check which behaves differently on different staging environments.

[2022-09-05 18:00] KristofferStrube commented on #852
My example is exactly to test behavior that differs depending on the environment. In my case some logging for performance that I only enable in development. I then would like to see that my expected results are appearing in development and that no messages are logged when it is run in the production environment.

I would expect there to be setters for the `Environment`. The two most normal values

[2022-09-05 21:12] egil commented on #852
Just had a quick look. Looks like there is a bunch of default options we can gather from [WebAssemblyHostEnvironmentExtensions.cs](https://source.dot.net/#Microsoft.AspNetCore.Components.WebAssembly/Hosting/WebAssemblyHostEnvironmentExtensions.cs), i.e.:

- Development
- Staging
- Production

So we're looking at a `FakeWebAssemblyHostEnvironment`, that you can get by calling `Services.GetService<F

[2022-09-05 21:32] linkdotnet commented on #852
I like the default to Production for the environment also going with SetXXX methods.

I would recommend not to use fixed values (enums) as one can use any name for a staging environment as one pleases.
Also ASP.NET does not limit this in any way. They just have two extension which are checking for two well defined values.

[2022-09-06 10:23] KristofferStrube commented on #852
I would think something like this could be suitable for the needs:

[code]

[2022-09-06 19:52] linkdotnet commented on #852
I am currently on vacation therefore only limited access to technology and skill to write any text with my smartphone :)

The AsXXX suggest you return a new object instead of setting an internal variable.
To be aligned with ASP.NET Core you could use those fields directly as they are public: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.environmentname.development?view=a

[2022-09-06 20:30] egil commented on #852
I agree with @linkdotnet that the "AsXxx" names are not right in this context. However, leaving the properties settable directly might be the best approach here, since they can apparently be set to anything.

Besides that, I reckon that most users will simply use the standard `Environment` types, so helper methods like `SetEnvironmentToProduction()`, while verbose, is likely helpful.

[2022-09-07 11:00] KristofferStrube commented on #852
I agree that `AsXX` was probably not the right name for the helper methods but I felt that the methods could quickly become too verbose like Egil said. But I agree that the verbosity is excused because of its helpfulness.
The only question for me now is if you want it to be
**a)**
[code]
**b)**
[code]
I see some places in the existing Test Doubles where we use Setter methods like in **(b)**, but t

[2022-09-07 13:38] egil commented on #852
Option A seems right to me.

You wanna send in a PR on this @KristofferStrube?

[2022-09-07 13:44] KristofferStrube commented on #852
I will send in a PR later today. 👍 I will try to add it to the documentation as well.
And you are okay with registering the class to the service collection by default as I suggested?

[2022-09-07 14:05] egil commented on #852
Yes, that should be OK.

[2022-09-13 09:18] #852 closed

[2022-09-15 16:27] egil opened #858 "Investigate failing tests related to "wait for" logic on Windows"
Recently the verification workflow on Windows has started to fail. It is not crashing as far as I can tell, it's just unit tests related to "wait for" logic (concurrency) that are failing due to the condition not being met.

It does not look like its always the same test, and I have been able to reproduce it by running tests in a loop locally (through the run-tests.ps1 script, in release mode).

L

[2022-09-15 16:28] egil commented on #858
I would like to have this sorted before we push a new release. Of course, if the problem also exists in the currently released version, then there is no reason not to release the two new features.

[2022-09-15 16:40] egil opened #859 "Explicit support for NavMan.NavigateToLogin and ` needed?"
The new `NavigateToLogin()` extension method on `NavigationManager` and the `InteractiveRequestOptions` should work out of the box with bUnit and the support for passing state with navigation added in #829, but should we add explicit support for `NavigateToLogin` and `InteractiveRequestOptions`?

Details here: https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-rc-1/#dynamic-aut

[2022-09-15 16:40] linkdotnet commented on #858
If I remember right, then we had this issue before the release. I saw it here and there but it seems to be more prominent at the moment.
i will have a look once I am back from vacation.

what makes it hard to debug is that it seems to impact the windows runner the most. Here and there also macOS runner.
Anyway we need to address this :)

[2022-09-15 16:51] egil commented on #858
I'm pretty sure there was an issue before the previous release, or the one before that, what was solved after some of the code related to wait for and updates of the DOM was changed.

It has definitely started breaking much more the last  14 days, and I think if we look back on main runs on verification we can see it going well for a while.

Enjoy your vacation, I'll take stab at the initial inves

[2022-09-15 20:03] #804 closed

[2022-09-16 09:33] egil commented on #852
Hi @KristofferStrube,

Just an FYI, I am currently investigating some problems with concurrency in bUnit, thus holding off from releasing the new feature you added until I have determined the impact the problem.

I will push a preview version to nuget now, so you can start using it right away though.

[2022-09-16 15:59] egil commented on #858
Arrrg, now I cannot reproduce locally with .net 7 rc.1 and on #bf8fc00cedcb7c6eb9af2724cdb2fa4ff3ac2eb5.

I have attempted with this set of tests, running the a loop to try to force the issue:

[code]

Then, running it with this command:

[code]

This is annoying to say the least.

[2022-09-17 07:00] linkdotnet commented on #858
For sure I had failing tests on my `NavigationLock` PR on the windows runner.
But yes locally I also get green tests. To rule out that .net 7 rc1 fixed something I will remove it locally and run against preview7 and an older version of bUnit.

[2022-09-17 09:25] egil commented on #858
Never paid much attention to the failing tests on that PR since I assumed it failed because some types was missing due to rc1 not being out.

Are you using the repeating tests i posted above?

[2022-09-17 11:45] linkdotnet commented on #858
Yes did use your attached code snippet and let it run against .net6 and .net7.

[2022-09-18 14:32] linkdotnet commented on #858
Tried it now with my windows machine with a few different commits.. always green (let the test run twice per commit, to make "sure").

[2022-09-19 10:11] linkdotnet commented on #859
I guess it is more a question of highlighting in the documentation then. Just making the user aware that `FakeNavigationManager.History.Last().HistoryEntryState` holds the information passed to `NavigateToLogin`.

[2022-09-19 10:30] egil commented on #859
Yeah, but its a serialized object as json, so we might be able to make it more accessible by exposing an extension method that converts it back to its original form. However, that is definitely a nice to have.

[2022-09-19 10:50] linkdotnet commented on #859
Fair point, we can offer a method to deserialise the object to `InteractiveRequestOptions`. I quickly checked the code and basically we could more or less copy paste the current logic into bUnit. But as you said *nice to have*.

[2022-09-19 17:58] linkdotnet commented on #847
Hey @robertmclaws maybe a bit of background to understand why this `renderer.Dispatcher.InvokeAsync` is needed in the first place.
Just imagine you have a component which does something on the `LocationChanged` event. And imagine some user changes UI content like a label or what not. Now in your production code you don't have any problem, because there is only one thread. But the whole situation c

[2022-09-24 19:48] linkdotnet commented on #859
I had a quick look and propose the following solution. We extend our `FakeNavigationManager` with one method:
[code]

A test, which would cover one of the behaviours (which also shows the usage of that method):
[code]

If you think this is good enough I would make a PR.

[2022-09-24 21:04] egil opened #866 "Add StringSyntaxAttribute to all methods and properties that take html as input"
The new `StringSyntaxAttribute` in .net7 signals to IDEs that a certain property/argument/field is a specific type of string, e.g. html, that allows editors to give syntax highlighting and auto completion for strings being assigned/passed to these.

We should decorate all properties and methods arguments that take HTML as input with this attribute.

For versions prior to .net7, I think we can just

[2022-09-25 07:49] linkdotnet commented on #866
Seems like a good idea. Let's go for it.

[2022-09-25 08:55] egil commented on #859
Not sure about your suggestion here. It seems very specific `InteractiveRequestOptions`. I would rather we found a generic solution for dealing with data as JSON, e.g. a helper methods like `.FromJson<T>(options)` perhaps?

[2022-09-25 08:57] linkdotnet commented on #859
Ah I thought I finalize the proposal.

Well we could add something like `FromJson` on top, but to be honest, it seems more error prone than my proposal. Especially because this is the first and only situation where we need this.
There are circumstances where `FromJson` would just thrown an exception. In a test I really would prefer to have other means than handling with exceptions. Especially if t

[2022-09-28 14:38] egil opened #869 "Docs: simplify create-test-project page"
I think the create-test-project can be simplified a little (https://bunit.dev/docs/getting-started/create-test-project.html).

Move the template part of the guide to the top. With VS support for custom templates this should be the default, especially with the template support for different testing frameworks.

The `dotnet install` commands does not need to specify a verison, it will use the latest

[2022-10-02 12:13] pBouillon commented on #869
Hi @egil !

I just got back home after your talk at the NDC Oslo and am interested in contributing to bUnit which I found pretty impressive (great work by the way!)

May I take this issue if nobody is working on it?

[2022-10-02 20:26] egil commented on #869
Certainly @pBouillon, and thanks for the kind words.

Do note that doc changes should target the stable branch.

[2022-10-03 17:18] pBouillon commented on #869
Thank you for the info !

The PR is the #875, let me know if I have to change anything !

[2022-10-03 17:53] linkdotnet commented on #866
I fiddled around with that and a few questions did come up to me. Obviously we have places where the user really puts in html or a URI (which is also supported). I guess to put it here is obviously a win.

But we also have places with readonly-getters `string Markup` or private methods where I do see almost no win.
Some public methods are not really meant for direct usage from a user point of view

[2022-10-07 13:52] #850 closed

[2022-10-09 14:35] #866 closed

[2022-10-12 17:08] Chris-D-Turk opened #888 "MarkupMatches-Method records "Actual HTML" too late"
**Describe the bug**
`MarkupMatchesAssertExtensions.MarkupMatches` records the actual HTML **after** the HTML comparison has failed - so if the DOM has changed in between, the results are very confusing (see example).

**Example:**
Please execute the CounterCSharpTests from https://github.com/Chris-D-Turk/BUnitActualHtmlBug
Note: The "Click me" button increments the count after a 10ms delay but th

[2022-10-13 07:13] egil commented on #888
Thanks for reporting this @Chris-D-Turk.

I'm pretty sure this is indeed a bug, without even looking at the code.

Will investigate further and see what we can do about it.

[2022-10-16 10:33] linkdotnet commented on #888
Maybe as a low hanging fruit we could clone the original `INode` upon which `MarkupMatches` would be called.

PS: I could reproduce the behaviour. And code-wise it makes "sense" that we have that, as we update the `INode` from the Blazor renderer thread and simultaneously do assertions onto it.

[2022-10-17 09:00] linkdotnet commented on #858
I am still in favour of the theory that we are running out of threads in the thread pool. I forced our unit test runner to run every test sequentially (default of xUnit is only sequential inside on test-class but parallel over test-class boundaries) and we have consistent green runs on GitHub. I am aware that it doesn't rule out that we might have
a) undisposed stuff, which interferes or b) a race

[2022-10-17 10:15] egil commented on #858
Great work!

A few points:

1. I think we should be running our tests as our users will be running theirs.
2. Its great if we have a theory or idea of what is causing issues.
3. Let's continue to investigate what is causing the thread starvation.

While you are going down that rabbit hole, I think it's worthwhile to look into shared synchronization context (Dispatcher in renderer) and see how that

[2022-10-17 11:19] egil commented on #858
All the tests we see this issue with is ones that use `WaitForXXX`, right?

If that's the case, then it may be that which is causing the starvation on some machines. What you could do as an experiment is to create async versions of the methods in
[RenderedFragmentWaitForHelperExtensions](https://github.com/bUnit-dev/bUnit/blob/main/src/bunit.core/Extensions/WaitForHelpers/RenderedFragmentWaitForHe

[2022-10-17 11:42] linkdotnet commented on #858
I am still in favour of `WaitFor...`. For two reasons:
1. Async API's normally just get the suffix `Async` (if a sync version is available).
2. .NET also does not omit `Wait` for example in `Task.WaitAll`

[2022-10-17 14:33] linkdotnet commented on #858
To be honest I'd experiment with the `async` version of `WaitForXXX` rather than the `SynchroniztationContext` for two reasons:
1. I have to read more about `SynchronizationContext` to understand better what is going on.
2. I still thing if a user does that: `await SomeAsyncCall().ConfigureAwait(false);` we will run into the same situation as before as the `SynchronizationContext` is gone. We coul

[2022-10-17 15:04] linkdotnet commented on #858
I shamelessly stole the `SingleThreadSynchronizationContext` from Visual Studio and suprise suprise, still we have red tests in `WaitForXXX` and that makes sense.

If we are not using `await WaitFor` then there is no SynchronizationContext involved at all:
![image](https://user-images.githubusercontent.com/26365461/196212876-2031c8d2-88e4-4097-a71a-48b813849298.png)

I planned my day tomorrow to m

[2022-10-20 11:37] egil commented on #888
Another option is to have the entire MarkupMatches run inside a InvokeAsync lambda, which means no renders should happen while it is executing. Might be the most straight forward solution, but wonder about edge cases and perf.

[2022-10-20 12:09] egil commented on #888
Perhaps. Could be. Would have to experiment to understand all the implication.

[2022-10-21 09:24] egil commented on #858
That makes sense indeed since we're currently blocking a thread when waiting.

[2022-10-21 09:31] egil commented on #888
@Chris-D-Turk this problem should actually go away if you use `cut.WaitForAssertion(() => cut.MarkupMatches(....))`, since the MarkupMatches check will run to completion without the renderer being allowed to continue and update the markup.

So if you have this problem currently, that is the recommended solution that exists currently.

[2022-10-21 09:58] egil commented on #888
I'd go so far to say that this is actually not a bug. We have the `WaitForXxxx` method that exists because if this, where the component under test has asynchronous renders happening. If we switch to having a shared dispatcher/syn context, this would not be an issue, but until then, this is expected behavior actually.

The problem is that we can do something with `MarkupMatches` because it is a 1st

[2022-10-21 09:58] #888 closed

[2022-10-21 09:59] #869 closed

[2022-10-21 10:00] egil commented on #848
Closing this issue due to inactivity.

[2022-10-21 10:00] #848 closed

[2022-10-21 10:04] egil commented on #807
Closing this due to inactivity. Feel free to post here again if you find a way to reproduce @chadmobrien.

[2022-10-21 10:04] #807 closed

[2022-10-21 11:45] mikes-gh commented on #675
Maybe its due to
[*.{cs,razor}]
on linux.
Can you try separate entry for .cs and .razor to see if it makes any difference

[2022-10-21 12:07] mikes-gh commented on #675
@linkdotnet I am on macos and got the same issue.
I moved the problem to a code behind file `razor.cs` and editorconfig seems to work against that.

[2022-10-21 12:18] linkdotnet commented on #675
Hey @mikes-gh  thanks for the tip! Refactoring the stuff into a code-behind did the trick :D
Funny enough that should trigger the analyzer as well. Maybe they forgot to include `.cs`. Anyway great tip.

[2022-10-21 14:30] #675 closed

[2022-10-21 14:45] mikes-gh commented on #675
Because you ignore it via `.editorconfig` in your repo
https://github.com/bUnit-dev/bUnit/blob/0e8d73cc5a71c01e9d7c12fb289b7dae7ca39f34/.editorconfig#L466
The  issue is the analyzer doesnt seem to work in `.razor` files

[2022-10-21 14:49] linkdotnet commented on #675
The funny part is that other BL000X issues are ignored if properly configured in `.editorconfig`. Unfortunately they don't seem to work on that issue at all.

[2022-10-21 15:12] mikes-gh commented on #675
Yeh it is weird.  The editorconfig does have an affect on BL0007 though on my machine.  If I remove it from the editorconfig the warning reappears.  It only works on .cs though.
It doesn't seem to work for razor file extensions.

[2022-10-26 10:52] linkdotnet opened #898 "Characters get escaped when rendered"
More context here: @tobiasbrandstaedter in https://github.com/bUnit-dev/bUnit/discussions/897_

[2022-10-27 21:13] rafalschmidt97 opened #900 "Image snapshot testing (visual regression)"
**Is the feature request related to a problem? Please elaborate.**

Recently I've been working on some pages and thought that it would be great to support image snapshot testing as an extension to markup matching. Have you ever considered that?

**The suggested solution**

Similar solution to the jest-image-snapshot:
https://github.com/americanexpress/jest-image-snapshot

I guest something similar

[2022-10-27 21:36] #900 closed

[2022-10-27 22:25] egil commented on #900
Yeah, bUnit does not run a browser during testing, so yes, if you want a the markup visually rendered, you need a browser, and there a playwright is the right thing.

If you want snapshot testing based on the markup, check out https://github.com/VerifyTests/Verify.

[2022-10-31 11:26] TDroogers opened #903 "NavLink ActiveClass is always active"
**Describe the bug**

If you add an attribute [ActiveClass](https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.routing.navlink.activeclass#microsoft-aspnetcore-components-routing-navlink-activeclass) this class is always added to the class.

I tried using `var navMan = Services.GetRequiredService<NavigationManager>();` but with no success.

**Example:**
Testing this compo

[2022-10-31 13:24] egil commented on #903
Hi @TDroogers, thanks for reaching out.

Just took a [quick look at the source for NavLink](https://source.dot.net/#Microsoft.AspNetCore.Components.Web/Routing/NavLink.cs) and it looks like you have to specify a `href` attribute on `NavLink` and set a url in navigation manager to get `NavLink` to set the active class.

Here are the docs for working with the built-in navigation manager in bUnit: ht

[2022-10-31 13:24] egil commented on #903
Ps. ill convert this to a QA discussion since this is not a bug in bUnit.

[2022-11-02 10:41] linkdotnet commented on #847
I would close this bug as "works as intended". It is the way we are using the `NavigationManager`, which is not intended to be used without a `TestContext` (mainly because it is a helper for your Blazor components).
Almost every functionality is under the `TestContext` umbrella in some way or another.

That said using a lot of the bUnit objects outside the `TestContext` or `Blazor` environment wil

[2022-11-02 13:41] #847 closed

[2022-11-08 21:01] egil opened #913 "Update "Release" workflow - stop using deprecated features"
According to the latest release run, the workflow is using a bunch of deprecated features that will soon be completely removed.

We need to update the workflow and ensure we can continue to create releases.

https://github.com/bUnit-dev/bUnit/actions/runs/3423116610

[2022-11-09 22:13] rafael-f opened #917 "Adjust default timeout for wait operations."
I have an application where some tests might take more than 1 second on my deployment machine, it causes tests to randomly fail.

**The suggested solution**

It would be nice if we could somehow setup the default timeout for all wait operations (WaitForAssertion, WaitForElement, etc..) in a single location.

[2022-11-10 11:24] egil commented on #917
Hi @rafael-f,

Can you share a bit more about the kind of tests you are running and why they are taking so long. Would like to understand your use case better before we decide on a way forward.

[2022-11-10 11:42] linkdotnet commented on #917
I feel like we had this discussion a few months back. I really can't find it anymore. I even created a POC feature branch for that.
Anyway, I also think it is important to understand your scenario and find the root cause rather than just bumping up the timeout globally. The current default of 1 second is quite defensive.

[2022-11-10 15:49] rafael-f commented on #917
My test database is a container on the same host as the testing runner.

I used the following documentation to create my tests:
https://learn.microsoft.com/en-us/ef/core/testing/testing-with-the-database

I believe a single instance is being created because _databaseInitialized is static no? I haven't noticed any drawbacks to this yet...
Shouldn't the lock and the static bool prevent tests from ru

[2022-11-10 15:58] linkdotnet commented on #917
Pardon me you are right, they will all run sequential. I didn’t see the static field.

That keeps up the question why you are running in Timeouts. Are there any specific tests which fail more often than others?
or any specific components?

Did you profile where the most time is spent?

[2022-11-10 16:18] rafael-f commented on #917
When I run a single test every one of them is pretty much instantaneous, and never fail. I don't know how to profile all tests to gather data to identify the issue.

I've identified 2 tests that fail more than others, but they are not the timeout issue, they are the stack overflow issue I mentioned above, which I'll replace the service calls to using mediatr soon and see if this helps... There onl

[2022-11-10 16:33] linkdotnet commented on #917
In your given example `ComponentName_WithValidData_OpensData`, does the component go to the database?
If so, you could log out the time it takes maybe even with a simple `Stopwatch`.

Don't get me wrong, it could still be related to bUnit (or even worse: Blazor). Certainly, there is some state, which could accumulate and slow down. What happens for example if you, in isolation, run said test in a

[2022-11-10 16:49] linkdotnet commented on #723
NuGet had a juicy update: https://devblogs.microsoft.com/nuget/announcing-nuget-6-4-signed-central-delivered/#use-a-single-packagereference-everywhere-with-globalpackagereference

Still something for `v2`.

[2022-11-10 17:57] rafael-f commented on #917
No problem going "off topic", I'm also interested in investigating these issues, I believe the reason is really OnParameterSetAsync taking longer than 1 second in my project.

I modified the test to execute like this:

[code]

It didn't fail a single time, even when running with all other tests.

I then modified the test to include the Stopwatch like this:

[code]

and ran it once, it failed with

[2022-11-10 18:28] linkdotnet commented on #917
Interesting. The question is why is there such a big difference in the test runs?

I do understand that the 500 runs is pretty fast on average as caching could play a major role here (either by the SQL Server or by your storage provider).

Is the docker container up and running all the time or do you spin up the image on the first test run?

[2022-11-10 20:39] rafael-f commented on #917
@linkdotnet On my development machine, where I measured the time, my SQL Server is actually the express version running on my windows, not a container, so it's always up. The container is on the runner machine that executes the tests when a pull request is created.
I don't know what could cause it to execute the queries sometimes in 800ms and other times in 1800ms... The test environment is theore

[2022-11-10 20:56] rafael-f commented on #917
So I had to do it like this:

[code]

That totally seems to have "fixed" my issue.

I could do it like this:

[code]

Because RenderedFragmentWaitForHelperExtensions couldn't be resolved as it exists on both bUnit.core and bUnit.web:
![image](https://user-images.githubusercontent.com/14276684/201204004-9d932035-9e36-483a-93ff-98ceff51cca5.png)

Not sure how to fix this...

[2022-11-10 21:04] egil commented on #917
Hmm that's weird, but if the other version works for you then it doesn't matter at all.

[2022-11-10 21:04] rafael-f commented on #917
Definitely, thanks again, I'll close this issue as it's not needed since it can be done by simply overriding the extension method.

[2022-11-10 21:04] #917 closed

[2022-11-15 09:10] Sziadan commented on #858
I'm not sure if this is related but we recently migrated our code to .NET 7 from .NET 6 (and updated to latest version of bUnit.web) and noticed that our test that was using bUnit started to fail.

The code in question looks like this:

[code]

I noticed that the rendered markup looks strange for the component we're trying to find, seems like the icon is throwing it off.
[code]

The same button, b

[2022-11-15 09:35] Sziadan opened #925 "Rendered component has faulty markup and css-selector no longer works for it"
**Describe the bug**
We recently migrated our code to .NET 7 from .NET 6 (and updated to latest version of bUnit.web) and noticed that our test that was using bUnit started to fail.

**Example:**
The code in question looks like this:

[code]

**Result:**
I noticed that the rendered markup looks strange for the component we're trying to find, seems like the icon is throwing it off.
[code]

**Expect

[2022-11-15 10:10] linkdotnet commented on #925
Hey @Sziadan,

thanks for reporting. The change was more or less intentional, but let's find out.  A bit of context: The first version (`bUnit 1.12`) behaves closer to the Blazor renderer. The Blazor renderer does not escape quotes.
Now it would be interesting to know what your component under test looks like, from a csharp code point of view but also if it is rendered in the browser.

[2022-11-15 10:30] Sziadan commented on #925
I see, after looking a bit closer at our own code I realized we must have screwed something up ourselves too as those icons didn't render anyway.

However, the buttons did get rendered and were functional in a browser, hence why we never reacted to it I suppose.
![button_error_icon](https://user-images.githubusercontent.com/21245482/201896775-be76d71f-12a7-4baf-bbdc-ef7c0a05238f.png)

Thanks for t

[2022-11-15 10:37] linkdotnet commented on #925
Sure thing. I suppose we can close the issue for now?

[2022-11-15 10:40] Sziadan commented on #925
Yes, the issue I were having is resolved with this.
Thanks for the help!

[2022-11-15 10:40] #925 closed

[2022-11-15 12:14] linkdotnet commented on #913
Shall we close this?

[2022-11-15 13:28] #913 closed

[2022-11-15 21:24] linkdotnet commented on #798
I will close this issue for the time being. The repo did not receive a commit in month and I also don’t think we have to do much (besides some JS mock calls). If we get a lot of user requests about this we can reopen the issue.

[2022-11-15 21:24] #798 closed

[2022-11-16 12:26] linkdotnet commented on #760
Hey, @oatsoda

Small disclaimer: I don't work with Blazored components so everything I write now is an educated guess, which I could verify, so stay for me for a second.

The `ModalDialog` you are using indeed uses now the better `CreationOptions`, so that isn't the problem. The "problem" is the usage of the `ModalDialog` in the test itself.

If we have a look into the code, which handles the `Mod

[2022-11-16 12:57] oatsoda commented on #760
Thanks @linkdotnet, really appreciate the reply.

I see what you're saying - but if I want to assert that I am showing a modal with a particular message then closing it doesn't really work.  And I do this plenty in other tests I have.  It's just that it doesn't seem to work when wrapped within the bUnit File Upload!

Perhaps it is a slightly niche example - having a blocking Modal inside a File Up

[2022-11-16 13:08] linkdotnet commented on #760
It doesn't "work" with bUnit because we are wrapping the call inside an `InvokeAsync` which directly comes from Blazor. `InvokeAsync` enqueues the work item and returns control once that work item is done (on the renderer thread).
As you are basically "blocking" that queue with `await modal.Result`, we will never reach that call.

If we don't wrap that call inside `InvokeAsync` the user would rece

[2022-11-16 14:07] oatsoda commented on #760
Ah, I see.  I hadn't really appreciated the `InvokeAsync` in there.

Yeah I see about testing `MyUpload`, but I am not really using bUnit for implementation-tied unit testing.  I'm using it for more behaviourally oriented unit testing.  I might want to restructure/split/refactor `MyUpload` later and I still want to have a test that is testing the behaviour when I upload a file".

There are a coupl